Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

PAE-1339: Validate RefreshedTokens via Joi at OIDC token endpoint boundary (#782)
  src/server/auth/helpers/refreshed-tokens-schema.js
  src/server/auth/helpers/refreshed-tokens-schema.test.js
  src/server/auth/helpers/session-cookie.js
  src/server/auth/helpers/session-cookie.test.js
  src/server/auth/helpers/user-session.js
  src/server/auth/types/tokens.js
Due: prettier --write, npm run lint:fix

Fix i18next vulns, prune stale overrides
  package-lock.json
  package.json
Due: prettier --write

PAE-1339: Skip allure results missing start/stop in journey summary
  .github/workflows/check-pull-request.yml
Due: none

PAE-1339: Guard journey summary jq against orphan allure results (#790)
  .github/workflows/check-pull-request.yml
Due: none

PAE-000: Fix i18next-fs-backend and i18next-http-middleware vulnerabilities (#789)
  package-lock.json
  package.json
Due: prettier --write

PAE-250: Fix uuid vulnerability
  package-lock.json
  package.json
Due: prettier --write

Pin uuid override to exact version
  package.json
Due: prettier --write

PAE-250: Fix uuid vulnerability via override (#791)
  package-lock.json
  package.json
Due: prettier --write

PAE-250: Fix postcss vulnerability
  package-lock.json
  package.json
Due: prettier --write

PAE-250: Fix postcss vulnerability (#793)
  package-lock.json
  package.json
Due: prettier --write

Pin @types/node to 24.x
  package-lock.json
  package.json
Due: prettier --write

PAE-1339: Pin @types/node to 24.x to match Node engine (#794)
  package-lock.json
  package.json
Due: prettier --write

PAE-1183 Adds logging round loading summary load status
  src/server/summary-log/controller.js
Due: prettier --write, npm run lint:fix

Make log statements CDP compliant
  src/server/summary-log/controller.js
Due: prettier --write, npm run lint:fix

PAE-1183 Adds logging round loading summary load status (#795)
  src/server/summary-log/controller.js
Due: prettier --write, npm run lint:fix

PAE-1412: wire cdp-compliant log types into frontend
  src/server/common/enums/event.js
  src/server/common/helpers/errors.js
  src/server/common/helpers/errors.test.js
  src/server/common/helpers/logging/cdp-log-types.js
  src/server/common/helpers/logging/logger.js
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.js
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.test.js
  src/server/common/helpers/proxy/setup-proxy.js
  src/server/common/helpers/redis-client.js
  src/server/common/helpers/session-cache/cache-engine.js
  src/server/common/helpers/session-cache/cache-engine.test.js
  src/server/common/helpers/start-server.test.js
  src/server/common/helpers/waste-organisations/api-adapter.js
  src/server/common/helpers/waste-organisations/api-adapter.test.js
Due: prettier --write, npm run lint:fix

PAE-1412: enrich frontend boom errors with cdp-indexed code and event
  src/server/common/enums/error-codes.js
  src/server/common/helpers/fetch-json.js
  src/server/common/helpers/logging/cdp-boom.js
  src/server/common/helpers/logging/cdp-boom.test.js
  src/server/common/helpers/materials/get-display-material.js
  src/server/common/helpers/organisations/fetch-registration-and-accreditation.js
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.js
  src/server/prns/cancel-controller.js
  src/server/prns/delete-controller.js
  src/server/prns/discard-controller.js
  src/server/prns/helpers/fetch-prn-context.js
  src/server/prns/post-controller.js
  src/server/prns/view-controller.js
  src/server/reports/exporter/exporter-page-guards.js
  src/server/reports/reprocessor/reprocessor-page-guards.js
  src/server/summary-log-upload/controller.js
Due: prettier --write, npm run lint:fix

PAE-1412: rename LOGGING_EVENT_ACTIONS to camelCase, add no-double-log integration test
  src/server/common/enums/event.js
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.integration.test.js
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.js
  src/server/common/helpers/waste-organisations/api-adapter.js
Due: prettier --write, npm run lint:fix

PAE-1412: port boom-error-logger plugin from backend, drop warn-then-throw duplication
  src/server/common/enums/event.js
  src/server/common/helpers/errors.js
  src/server/common/helpers/errors.test.js
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.integration.test.js
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.js
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.test.js
  src/server/index.js
  src/server/plugins/boom-error-logger.js
  src/server/plugins/boom-error-logger.test.js
  src/server/prns/action-controller.js
  src/server/prns/controller.js
  src/server/prns/controller.test.js
  src/server/prns/discard-controller.js
  src/server/prns/helpers/fetch-prn-context.js
  src/server/prns/issued-controller.js
  src/server/prns/list-controller.js
  src/server/prns/post-controller.js
  src/server/prns/view-controller.js
Due: prettier --write, npm run lint:fix

PAE-1412: drop redundant logger.error from PRN controller catch blocks
  src/server/common/enums/error-codes.js
  src/server/prns/cancel-controller.js
  src/server/prns/delete-controller.js
  src/server/prns/discard-controller.js
  src/server/prns/issue-controller.js
  src/server/prns/post-controller.js
  src/server/prns/view-controller.js
Due: prettier --write, npm run lint:fix

PAE-1412: add loggerMocks fixture, assert log output on PRN controller failures
  .vite/fixtures/server.js
  src/server/prns/cancel-controller.test.js
  src/server/prns/delete-controller.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/issue-controller.test.js
  src/server/prns/post-controller.test.js
  src/server/prns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1412: tighten log-shape assertions, deepen list-controller mocking
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.integration.test.js
  src/server/prns/cancel-controller.test.js
  src/server/prns/delete-controller.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/list-controller.test.js
  src/server/prns/post-controller.test.js
  src/server/prns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1412: align eslint no-unused-vars with sonar, drop unused params
  eslint.config.js
  src/server/auth/helpers/refresh-token.test.js
  src/server/prns/view-controller.js
  src/server/summary-log/controller.js
Due: prettier --write, npm run lint:fix

PAE-1412: extract is-production-environment helper to config
  src/config/config.js
  src/config/config.test.js
  src/server/common/helpers/logging/logger-options.js
  src/server/common/helpers/logging/logger-options.test.js
Due: prettier --write, npm run lint:fix

PAE-1412: move jsdoc @import blocks to top after module imports
  src/config/config.js
  src/server/common/helpers/logging/logger-options.js
Due: prettier --write, npm run lint:fix

PAE-1411: Extract shared page-guards factory to remove subtree duplication
  src/server/reports/exporter/exporter-page-guards.js
  src/server/reports/exporter/exporter-page-guards.test.js
  src/server/reports/helpers/create-page-guards.js
  src/server/reports/helpers/create-page-guards.test.js
  src/server/reports/reprocessor/reprocessor-page-guards.js
Due: prettier --write, npm run lint:fix

PAE-1411: Address sonar issue
  src/server/reports/helpers/create-page-guards.js
Due: prettier --write, npm run lint:fix

PAE-1412: address sonar findings on boom event spread and discard var
  src/server/plugins/boom-error-logger.js
  src/server/summary-log/controller.js
Due: prettier --write, npm run lint:fix

PAE-1412: include stack-trace in boom-error-logger emission
  src/server/plugins/boom-error-logger.js
  src/server/plugins/boom-error-logger.test.js
  src/server/prns/cancel-controller.test.js
  src/server/prns/delete-controller.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/list-controller.test.js
  src/server/prns/post-controller.test.js
  src/server/prns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1412: strip error.stack-trace in prod via formatters.log wrapper
  .vite/setup-files.js
  src/server/common/helpers/logging/logger-options.js
  src/server/common/helpers/logging/logger-options.test.js
Due: prettier --write, npm run lint:fix

PAE-1412: drop dead err serializer (ecsFormat bypasses pino serializers)
  src/server/common/helpers/logging/logger-options.js
  src/server/common/helpers/logging/logger-options.test.js
Due: prettier --write, npm run lint:fix

PAE-1412: extract is-production-environment helper to config (#797)
  src/config/config.js
  src/config/config.test.js
  src/server/common/helpers/logging/logger-options.js
  src/server/common/helpers/logging/logger-options.test.js
Due: prettier --write, npm run lint:fix

PAE-1411: Extract shared page-guards factory to remove subtree duplication (#798)
  src/server/reports/exporter/exporter-page-guards.js
  src/server/reports/exporter/exporter-page-guards.test.js
  src/server/reports/helpers/create-page-guards.js
  src/server/reports/helpers/create-page-guards.test.js
  src/server/reports/reprocessor/reprocessor-page-guards.js
Due: prettier --write, npm run lint:fix

PAE-1412: wrap cdp-boom tests in outer describe block
  src/server/common/helpers/logging/cdp-boom.test.js
Due: prettier --write, npm run lint:fix

PAE-1411: Extract shared factory for free-tonnage controllers
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/free-perns-controller.test.js
  src/server/reports/helpers/create-free-tonnage-controllers.js
  src/server/reports/helpers/create-free-tonnage-controllers.test.js
  src/server/reports/index.js
  src/server/reports/reprocessor/free-prns-controller.js
Due: prettier --write, npm run lint:fix

PAE-1412: tighten TypedLogger to single-arg object-only LogMethod
  src/server/common/helpers/logging/logger.js
Due: prettier --write, npm run lint:fix

PAE-1412: add request-logger integration test for ecs wire shape
  src/server/common/helpers/logging/request-logger.integration.test.js
Due: prettier --write, npm run lint:fix

PAE-1412: migrate unhandled-rejection log to canonical object shape
  src/index.js
  src/index.test.js
Due: prettier --write, npm run lint:fix

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
