Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

PAE-1411: replace accredited ctx generic with local casts
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/exporter/tonnes-not-exported-controller.js
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/helpers/create-free-tonnage-controllers.js
  src/server/reports/helpers/create-page-guards.js
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
Due: prettier --write, npm run lint:fix

PAE-1411: typedef view-data and reformat long jsdoc types
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/helpers/create-free-tonnage-controllers.js
  src/server/reports/helpers/create-page-guards.js
Due: prettier --write, npm run lint:fix

PAE-1412: redact http headers in cdp production only
  src/config/config.js
  src/config/utils/log.js
  src/config/utils/log.test.js
  src/server/common/helpers/logging/logger-options.js
  src/server/common/helpers/logging/request-logger.integration.test.js
Due: prettier --write, npm run lint:fix

PAE-1411: Extract shared factory for free-tonnage controllers (#799)
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/free-perns-controller.test.js
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/exporter/tonnes-not-exported-controller.js
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/helpers/create-free-tonnage-controllers.js
  src/server/reports/helpers/create-free-tonnage-controllers.test.js
  src/server/reports/helpers/create-page-guards.js
  src/server/reports/index.js
  src/server/reports/reprocessor/free-prns-controller.js
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
Due: prettier --write, npm run lint:fix

PAE-1446: prevent double-click on PRN status action buttons
  src/server/prns/action-controller.test.js
  src/server/prns/action.njk
  src/server/prns/cancel-controller.test.js
  src/server/prns/cancel.njk
  src/server/prns/controller.test.js
  src/server/prns/create.njk
  src/server/prns/delete-controller.test.js
  src/server/prns/delete.njk
  src/server/prns/discard-controller.test.js
  src/server/prns/discard.njk
Due: prettier --write, npm run lint:fix

PAE-1446: prevent double-click on PRN status action buttons (#804)
  src/server/prns/action-controller.test.js
  src/server/prns/action.njk
  src/server/prns/cancel-controller.test.js
  src/server/prns/cancel.njk
  src/server/prns/controller.test.js
  src/server/prns/create.njk
  src/server/prns/delete-controller.test.js
  src/server/prns/delete.njk
  src/server/prns/discard-controller.test.js
  src/server/prns/discard.njk
Due: prettier --write, npm run lint:fix

PAE-1411: extract prn-summary factory and tighten shared types
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/helpers/create-free-tonnage-controllers.js
  src/server/reports/helpers/create-page-guards.js
  src/server/reports/helpers/create-prn-summary-controllers.js
  src/server/reports/helpers/validation.js
  src/server/reports/prn-summary-dispatcher.js
  src/server/reports/reprocessor/prn-summary-controller.js
Due: prettier --write, npm run lint:fix

PAE-1411: drop unused error fields from guard options
  src/server/reports/helpers/create-page-guards.js
  src/server/reports/helpers/create-page-guards.test.js
Due: prettier --write, npm run lint:fix

PAE-1411: consolidate prn-summary tests via describe.each
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/reprocessor/prn-summary-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1411: add minimal jsdom type shim for tests
  src/server/types/jsdom.d.ts
Due: none

PAE-1412: gate log redact on NODE_ENV not cdpEnvironment
  src/config/config.js
  src/server/common/helpers/logging/logger-options.js
  src/server/common/helpers/logging/request-logger.integration.test.js
Due: prettier --write, npm run lint:fix

PAE-1412: local x-cdp-request-id fallback for trace.id (#802)
  .dockerignore
  src/config/config.js
  src/config/config.test.js
  src/config/utils/log.js
  src/config/utils/log.test.js
  src/server/common/helpers/logging/logger-options.js
  src/server/common/helpers/logging/request-logger.integration.test.js
  src/server/common/helpers/request-tracing.integration.test.js
  src/server/common/helpers/request-tracing.js
  src/server/common/test-helpers/log-capture-server.js
Due: prettier --write, npm run lint:fix

PAE-250: Adopt updated security/npm standards
  .github/workflows/check-pull-request.yml
  .npmrc
  README.md
Due: prettier --write

Document npm run postinstall in setup, not just setup:husky
  README.md
Due: prettier --write

PAE-250: pin @babel/plugin-transform-modules-systemjs and fast-uri
  package-lock.json
  package.json
Due: prettier --write

PAE-250: Fix @babel/plugin-transform-modules-systemjs and fast-uri vulnerabilities (#807)
  package-lock.json
  package.json
Due: prettier --write

extract page-fields (builder) for consistency with other code
  src/server/reports/helpers/create-prn-summary-controllers.js
Due: prettier --write, npm run lint:fix

sort a few keys for readability
  src/server/reports/exporter/tonnes-not-exported-controller.js
  src/server/reports/helpers/create-free-tonnage-controllers.js
  src/server/reports/helpers/create-prn-summary-controllers.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
Due: prettier --write, npm run lint:fix

add a little typing to the post-handlers
  src/server/reports/exporter/tonnes-not-exported-controller.js
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/supporting-information-controller.js
Due: prettier --write, npm run lint:fix

refactor (and simplify) creating the post-handler
  src/server/reports/exporter/tonnes-not-exported-controller.js
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
Due: prettier --write, npm run lint:fix

resolve next-page from a function or string
  src/server/reports/helpers/create-data-page-controllers.js
Due: prettier --write, npm run lint:fix

more type information
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/prn-summary-dispatcher.js
  src/server/reports/supporting-information-controller.js
Due: prettier --write, npm run lint:fix

fetching some types
  eslint.config.js
  src/server/common/helpers/fetch-json-from-backend.js
  src/server/common/helpers/fetch-json.js
Due: prettier --write, npm run lint:fix

the one and only (js)dominator
  src/server/types/jsdom.d.ts
Due: none

too many lines for the likes of sonarqube
  src/server/reports/helpers/create-data-page-controllers.js
Due: prettier --write, npm run lint:fix

PAE-1411: extract prn-summary factory and consolidate tests (#805)
  eslint.config.js
  src/server/common/helpers/fetch-json-from-backend.js
  src/server/common/helpers/fetch-json.js
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/exporter/tonnes-not-exported-controller.js
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/helpers/create-free-tonnage-controllers.js
  src/server/reports/helpers/create-page-guards.js
  src/server/reports/helpers/create-page-guards.test.js
  src/server/reports/helpers/create-prn-summary-controllers.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/helpers/validation.js
  src/server/reports/prn-summary-dispatcher.js
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/reprocessor/prn-summary-controller.test.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
  src/server/reports/supporting-information-controller.js
Due: prettier --write, npm run lint:fix

PAE-250: Adopt updated security/npm standards (#806)
  .github/workflows/check-pull-request.yml
  .npmrc
  README.md
Due: prettier --write

PAE-250: Remove stale @babel/plugin-transform-modules-systemjs and fast-uri overrides
  package.json
Due: prettier --write

PAE-1339: wrap non-error unhandled-rejection reason
  src/index.js
  src/index.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: type csp plugin as ServerRegisterPluginObject
  src/server/common/helpers/content-security-policy.js
Due: prettier --write, npm run lint:fix

PAE-1339: coerce null serviceVersion to undefined for ecsFormat
  src/server/common/helpers/logging/logger-options.js
Due: prettier --write, npm run lint:fix

PAE-1339: use NodeJS.ProcessEnv for trust-store env param
  src/server/common/helpers/secure-context/get-trust-store-certs.js
Due: prettier --write, npm run lint:fix

PAE-1339: require options arg on fetchSummaryLogStatus
  src/server/common/helpers/upload/fetch-summary-log-status.js
Due: prettier --write, npm run lint:fix

PAE-1339: tighten getLocaliseUrl locale param to string
  src/server/common/helpers/i18next.js
Due: prettier --write, npm run lint:fix

PAE-250: Remove stale @babel/plugin-transform-modules-systemjs and fast-uri overrides (#809)
  package.json
Due: prettier --write

PAE-1339: type material lookup and guard glass paths
  src/server/common/enums/error-codes.js
  src/server/common/helpers/materials/get-display-material.js
  src/server/common/helpers/materials/get-display-material.test.js
  src/server/prns/view-data.js
Due: prettier --write, npm run lint:fix

PAE-1339: use named imports for i18next-http-middleware
  src/server/common/helpers/i18n/i18n.test.js
  src/server/common/helpers/i18next.js
Due: prettier --write, npm run lint:fix

PAE-1339: lift i18next init options out of literal
  src/server/common/helpers/i18n/i18n.js
Due: prettier --write, npm run lint:fix

PAE-1339: type FIELD_RULES tuple and narrow header before lookup
  src/server/common/constants/validation-codes.js
Due: prettier --write, npm run lint:fix

PAE-1339: use Extract not Pick for partner-type union narrowing
  src/domain/organisations/model.js
Due: prettier --write, npm run lint:fix

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
