Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "src/**/*.js": ["npm run lint:fix"]
}

Add rel="noopener noreferrer" to draft report link
  src/server/reports/created-controller.test.js
  src/server/reports/created.njk
Due: prettier --write, npm run lint:fix

Use govuk-button-group for created page button row
  src/server/reports/created.njk
Due: none

add 2dp validation to prn-revenue input
  src/server/reports/en.json
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/helpers/validation.js
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/reprocessor/prn-summary-controller.test.js
Due: prettier --write, npm run lint:fix

extract shared revenue-payload-schema to reduce duplication
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/helpers/validation.js
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/reprocessor/prn-summary-controller.test.js
Due: prettier --write, npm run lint:fix

use frozen error map for revenue validation messages
  src/server/reports/helpers/validation.js
Due: prettier --write, npm run lint:fix

use inset text for tonnage issued display
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/prn-summary.njk
  src/server/reports/reprocessor/prn-summary-controller.test.js
Due: prettier --write, npm run lint:fix

fix(reports): validate cadence matches registration type in report routes
  src/server/reports/create-controller.js
  src/server/reports/create-controller.test.js
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/helpers/validate-cadence.js
  src/server/reports/helpers/validate-cadence.test.js
Due: prettier --write, npm run lint:fix

refactor(reports): remove redundant validate-cadence unit test
  src/server/reports/helpers/validate-cadence.test.js
Due: prettier --write, npm run lint:fix

use width-5 for revenue input
  src/server/reports/prn-summary.njk
Due: none

add hint text to revenue input
  src/server/reports/en.json
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/prn-summary.njk
  src/server/reports/reprocessor/prn-summary-controller.js
Due: prettier --write, npm run lint:fix

format revenue to 2dp when pre-filling input
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/helpers/validation.js
  src/server/reports/reprocessor/prn-summary-controller.js
Due: prettier --write, npm run lint:fix

PAE-1312: Render unapproved overseas reprocessor IDs section
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/detail.njk
  src/server/reports/en.json
  src/server/reports/helpers/build-table-rows.js
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

PAE-1312: Address code review — typedef, view heading, tighter tests
  src/server/reports/detail-controller.test.js
  src/server/reports/helpers/fetch-report-detail.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

PAE-1312: Drop exportActivity fallbacks now backend ships first
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1315: Validate cadence matches registration type in report routes (#744)
  src/server/reports/create-controller.js
  src/server/reports/create-controller.test.js
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/helpers/validate-cadence.js
Due: prettier --write, npm run lint:fix

add 2dp validation and width-5 to tonnage inputs
  src/server/reports/en.json
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/free-perns-controller.test.js
  src/server/reports/reprocessor/free-prns-controller.js
  src/server/reports/reprocessor/free-prns-controller.test.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/tonnage-input.njk
Due: prettier --write, npm run lint:fix

PAE-1247: Add draft report view for 'Ready to submit' reports (#740)
  src/server/reports/created-controller.js
  src/server/reports/created-controller.test.js
  src/server/reports/created.njk
  src/server/reports/en.json
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

update revenue error messages and hint text
  src/server/reports/en.json
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/helpers/validation.js
  src/server/reports/reprocessor/prn-summary-controller.test.js
Due: prettier --write, npm run lint:fix

use decimal.js for 2dp validation to avoid floating point issues
  package-lock.json
  package.json
  src/server/reports/helpers/validation.js
Due: prettier --write, npm run lint:fix

use width-10 for revenue input
  src/server/reports/prn-summary.njk
Due: none

PAE-1312: Use govuk-inset-text for unapproved overseas sites intro
  src/server/reports/detail.njk
  src/server/reports/view.njk
Due: none

use integer validation for free-tonnage fields
  src/server/reports/en.json
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/free-perns-controller.test.js
  src/server/reports/reprocessor/free-prns-controller.js
  src/server/reports/reprocessor/free-prns-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1312: Revise unapproved overseas sites intro copy
  src/server/reports/en.json
Due: prettier --write

update tonnage error messages and distinguish blank from non-numeric
  src/server/reports/en.json
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/free-perns-controller.test.js
  src/server/reports/reprocessor/free-prns-controller.js
  src/server/reports/reprocessor/free-prns-controller.test.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/tonnage-input.njk
Due: prettier --write, npm run lint:fix

PAE-1310: validate reporting revenue to 2dp (#743)
  package-lock.json
  package.json
  src/server/reports/en.json
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/helpers/validation.js
  src/server/reports/prn-summary.njk
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/reprocessor/prn-summary-controller.test.js
Due: prettier --write, npm run lint:fix

extract payload schemas and error maps to validation helper
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/helpers/validation.js
  src/server/reports/reprocessor/free-prns-controller.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
Due: prettier --write, npm run lint:fix

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

PAE-000: Redirect-based token refresh to remove blocking refresh from request path
  src/server/auth/helpers/session-cookie.js
  src/server/auth/helpers/session-cookie.test.js
  src/server/auth/index.js
  src/server/auth/refresh/controller.js
  src/server/auth/refresh/get.integration.test.js
  src/server/paths.js
Due: prettier --write, npm run lint:fix

fix: resolve Snyk open-source dependency vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

lowercase material in report page guards
  src/server/reports/exporter/exporter-page-guards.js
  src/server/reports/exporter/free-perns-controller.test.js
  src/server/reports/reprocessor/free-prns-controller.test.js
  src/server/reports/reprocessor/reprocessor-page-guards.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
Due: prettier --write, npm run lint:fix

format tonnage to 2dp when pre-filling inputs
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/helpers/validation.js
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
Due: prettier --write, npm run lint:fix

handle whole number tonnages and fold heading into pre-fill tests
  src/server/reports/helpers/validation.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1312: Render unapproved overseas reprocessor IDs section (#745)
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/detail.njk
  src/server/reports/en.json
  src/server/reports/helpers/build-table-rows.js
  src/server/reports/helpers/fetch-report-detail.js
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

PAE-000: Resolve Snyk vulnerabilities (#749)
  package-lock.json
  package.json
Due: prettier --write

revert tonnage padding and rename helper to padToTwoDecimalPlaces
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/helpers/validation.js
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1319: validate reporting tonnage (#746)
  src/server/reports/en.json
  src/server/reports/exporter/exporter-page-guards.js
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/free-perns-controller.test.js
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/helpers/validation.js
  src/server/reports/reprocessor/free-prns-controller.js
  src/server/reports/reprocessor/free-prns-controller.test.js
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/reprocessor/reprocessor-page-guards.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/tonnage-input.njk
Due: prettier --write, npm run lint:fix

PAE-1316: Add ORS help text on create report page
  src/server/reports/detail-controller.test.js
  src/server/reports/detail.njk
  src/server/reports/en.json
Due: prettier --write, npm run lint:fix

PAE-1317: Add summary log warning on check your answers page
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/en.json
Due: prettier --write, npm run lint:fix

Add accredited reprocessor negative test for ORS help text
  src/server/reports/detail-controller.test.js
Due: prettier --write, npm run lint:fix

Tidy test name and remove redundant assertion
  src/server/reports/check-controller.test.js
Due: prettier --write, npm run lint:fix
