Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "src/**/*.js": ["npm run lint:fix"]
}

PAE-1538: balance error-table text columns with custom width
  src/client/stylesheets/components/_summary-log.scss
  src/server/summary-log/validation-failures.njk
Due: none

tweak the column widths just-so
  src/client/stylesheets/components/_summary-log.scss
Due: none

PAE-1538: show validation errors for failed summary-log upload (#823)
  package-lock.json
  package.json
  src/client/stylesheets/components/_index.scss
  src/client/stylesheets/components/_summary-log.scss
  src/domain/summary-logs/loads-schema.js
  src/domain/summary-logs/loads-schema.test.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/types.js
  src/server/summary-log/validation-failures-view-model.js
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

PAE-1466: Fix type errors in organisations controller test (#827)
  fixtures/organisation/all-excluded-statuses.json
  fixtures/organisation/empty-organisation.json
  fixtures/organisation/fixture-exporting-only.json
  fixtures/organisation/missing-site-address.json
  fixtures/organisation/organisationData.json
  fixtures/organisation/single-reprocessing.json
  jsconfig.typecheck.tests.json
  src/domain/organisations/accreditation.js
  src/domain/organisations/model.js
  src/domain/organisations/registration.js
  src/server/organisations/controller.test.js
Due: prettier --write, npm run lint:fix

derive typecheck scope from tsconfig, cover all test files
  .github/workflows/check-pull-request.yml
  jsconfig.typecheck.tests.json
Due: prettier --write

drop unused test-helpers suffix glob from tests scope
  jsconfig.typecheck.tests.json
Due: prettier --write

PAE-1466: Use isAccreditationActive helper to filter non-live accreditations
  src/server/common/helpers/organisations/accreditation-helpers.js
  src/server/common/helpers/organisations/accreditation-helpers.test.js
  src/server/common/helpers/organisations/fetch-registration-and-accreditation.js
  src/server/common/helpers/organisations/fetch-registration-and-accreditation.test.js
  src/server/organisations/controller.js
Due: prettier --write, npm run lint:fix

PAE-1466: Fix type errors in updated test and source files
  src/server/common/helpers/organisations/accreditation-helpers.test.js
  src/server/common/helpers/organisations/fetch-registration-and-accreditation.test.js
Due: prettier --write, npm run lint:fix

PAE-1466: Use isAccreditationActive helper to filter non-live accreditations (#829)
  src/server/common/helpers/organisations/accreditation-helpers.js
  src/server/common/helpers/organisations/accreditation-helpers.test.js
  src/server/common/helpers/organisations/fetch-registration-and-accreditation.js
  src/server/common/helpers/organisations/fetch-registration-and-accreditation.test.js
  src/server/organisations/controller.js
Due: prettier --write, npm run lint:fix

PAE-1339: derive tests typecheck scope from config (#828)
  .github/workflows/check-pull-request.yml
  jsconfig.typecheck.tests.json
Due: prettier --write

PAE-1544: pin github actions to commit shas (#831)
  .github/actions/test-and-scan/action.yml
  .github/dependabot.yml
  .github/workflows/check-pull-request.yml
  .github/workflows/publish-hotfix.yml
  .github/workflows/publish.yml
Due: none

PAE-1544: manage node versions via renovate (nvm + engines) (#832)
  .nvmrc
  package-lock.json
  package.json
  renovate.json
Due: prettier --write

PAE-1538: clarify invalid-date cell error with dd/mm/yyyy format
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

PAE-1538: clarify invalid-date cell error with dd/mm/yyyy format (#833)
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

PAE-1544: pin node in mise + enable renovate mise manager
  mise.toml
  renovate.json
Due: prettier --write

PAE-1544: drop redundant engines.npm + ci npm-upgrade step
  .github/actions/test-and-scan/action.yml
  package-lock.json
  package.json
Due: prettier --write

PAE-1544: align npm min-release-age cooldown to 3 days
  .npmrc
Due: none

PAE-1544: node/npm toolchain tune-up (#834)
  .github/actions/test-and-scan/action.yml
  .npmrc
  mise.toml
  package-lock.json
  package.json
  renovate.json
Due: prettier --write

PAE-1358: Fix sonar
  src/server/reports/helpers/fetch-report-backend.js
Due: prettier --write, npm run lint:fix

PAE-1240: Guard summary-log-changed-error page with yar session flag
  src/server/reports/helpers/fetch-report-detail.js
  src/server/reports/helpers/fetch-report-detail.test.js
  src/server/reports/index.js
  src/server/reports/summary-log-changed-error-controller.js
  src/server/reports/summary-log-changed-error-controller.test.js
  src/server/reports/summary-log-changed-error.njk
Due: prettier --write, npm run lint:fix

PAE-1240: Add 'Return to reports' secondary button to summary log changed error page
  src/server/reports/en.json
  src/server/reports/summary-log-changed-error-controller.js
  src/server/reports/summary-log-changed-error-controller.test.js
  src/server/reports/summary-log-changed-error.njk
Due: prettier --write, npm run lint:fix

PAE-1240: Redirect to error page when report is stale after SL upload
  src/server/reports/en.json
  src/server/reports/helpers/fetch-report-backend.js
  src/server/reports/helpers/fetch-report-backend.test.js
  src/server/reports/helpers/fetch-report-detail.js
  src/server/reports/helpers/summary-log-changed.js
  src/server/reports/helpers/summary-log-changed.test.js
  src/server/reports/helpers/update-report-status.js
  src/server/reports/helpers/update-report.js
  src/server/reports/index.js
  src/server/reports/index.test.js
  src/server/reports/summary-log-changed-error-controller.js
  src/server/reports/summary-log-changed-error-controller.test.js
  src/server/reports/summary-log-changed-error.njk
Due: prettier --write, npm run lint:fix

PAE-1240: Fix lint:types:tests error in fetch-report-detail.test.js
  src/server/reports/helpers/fetch-report-detail.test.js
Due: prettier --write, npm run lint:fix

PAE-1358: remove redundant checks
  src/server/reports/index.js
  src/server/reports/index.test.js
Due: prettier --write, npm run lint:fix

PAE-1240: Redirect to error page when report is stale after SL upload (#830)
  src/server/reports/en.json
  src/server/reports/helpers/fetch-report-backend.js
  src/server/reports/helpers/fetch-report-backend.test.js
  src/server/reports/helpers/fetch-report-detail.js
  src/server/reports/helpers/fetch-report-detail.test.js
  src/server/reports/helpers/summary-log-changed.js
  src/server/reports/helpers/summary-log-changed.test.js
  src/server/reports/helpers/update-report-status.js
  src/server/reports/helpers/update-report.js
  src/server/reports/index.js
  src/server/reports/index.test.js
  src/server/reports/summary-log-changed-error-controller.js
  src/server/reports/summary-log-changed-error-controller.test.js
  src/server/reports/summary-log-changed-error.njk
Due: prettier --write, npm run lint:fix

PAE-1557: remove FEATURE_FLAG_REPORTS feature flag
  src/config/config.js
  src/config/config.test.js
  src/server/registrations/controller.js
  src/server/registrations/controller.test.js
  src/server/reports/check-controller.test.js
  src/server/reports/create-controller.test.js
  src/server/reports/created-controller.test.js
  src/server/reports/delete-controller.test.js
  src/server/reports/detail-controller.test.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/exporter/tonnes-not-exported-controller.test.js
  src/server/reports/helpers/create-free-tonnage-controllers.test.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/index.test.js
  src/server/reports/list-controller.test.js
  src/server/reports/prn-summary-dispatcher.test.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/submit-controller.test.js
  src/server/reports/submitted-controller.test.js
  src/server/reports/summary-log-changed-error-controller.test.js
  src/server/reports/supporting-information-controller.test.js
  src/server/reports/view-controller.test.js
  src/server/router.js
Due: prettier --write, npm run lint:fix

PAE-1557: remove isEnabled check from reports tile
  src/server/registrations/controller.js
  src/server/registrations/index.njk
Due: prettier --write, npm run lint:fix

PAE-1557: Remove FEATURE_FLAG_REPORTS feature flag (#840)
  src/config/config.js
  src/config/config.test.js
  src/server/registrations/controller.js
  src/server/registrations/controller.test.js
  src/server/registrations/index.njk
  src/server/reports/check-controller.test.js
  src/server/reports/create-controller.test.js
  src/server/reports/created-controller.test.js
  src/server/reports/delete-controller.test.js
  src/server/reports/detail-controller.test.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/exporter/tonnes-not-exported-controller.test.js
  src/server/reports/helpers/create-free-tonnage-controllers.test.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/index.test.js
  src/server/reports/list-controller.test.js
  src/server/reports/prn-summary-dispatcher.test.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/submit-controller.test.js
  src/server/reports/submitted-controller.test.js
  src/server/reports/summary-log-changed-error-controller.test.js
  src/server/reports/supporting-information-controller.test.js
  src/server/reports/view-controller.test.js
  src/server/router.js
Due: prettier --write, npm run lint:fix

PAE-1557: Remove orphaned reportsNotAvailable translation key
  src/server/registrations/en.json
Due: prettier --write

PAE-1557: Remove orphaned reportsNotAvailable translation key (#841)
  src/server/registrations/en.json
Due: prettier --write

Fix ProcessingType narrowing for type checker
  src/server/summary-log/enhanced-check-controller.js
Due: prettier --write, npm run lint:fix

Align template with Figma design
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check-controller.js
  src/server/summary-log/enhanced-check.njk
Due: prettier --write, npm run lint:fix

Use formatTonnage for consistent tonnage display
  src/server/summary-log/controller.test.js
  src/server/summary-log/enhanced-check-controller.js
Due: prettier --write, npm run lint:fix

Show 'no loads' messages for empty sections within a period
  src/server/summary-log/controller.test.js
  src/server/summary-log/enhanced-check-controller.js
  src/server/summary-log/enhanced-check.njk
Due: prettier --write, npm run lint:fix

Add enhanced check page with period sections
  src/config/config.js
  src/config/config.test.js
  src/server/summary-log/controller.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check-controller.js
  src/server/summary-log/enhanced-check.njk
  src/server/summary-log/enhanced-check.test.js
  src/server/summary-log/types.js
Due: prettier --write, npm run lint:fix

Update enhanced check page for BE included/excluded payload shape
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check-controller.js
  src/server/summary-log/enhanced-check.njk
  src/server/summary-log/types.js
Due: prettier --write, npm run lint:fix
