Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

type server fixture with loggermocks; accept hapiserver in csrf helper
  .vite/fixtures/server.js
  src/server/common/test-helpers/csrf-helper.js
Due: prettier --write, npm run lint:fix

cast fixtures and createprn mocks in prns post-controller test
  src/server/prns/post-controller.test.js
Due: prettier --write, npm run lint:fix

fix sonar issues in reports list-controller
  src/server/common/constants/css-classes.js
  src/server/prns/list-view-data.js
  src/server/prns/list-view-data.test.js
  src/server/reports/list-controller.js
Due: prettier --write, npm run lint:fix

type buildListViewData params to fix list-view-data test types
  src/server/prns/list-view-data.js
Due: prettier --write, npm run lint:fix

cast translations map in list-view-data test mock
  src/server/prns/list-view-data.test.js
Due: prettier --write, npm run lint:fix

PAE-1482: Redirect to confirmation page when submitted report is re-visited (#818)
  .vite/fixtures/server.js
  src/server/common/test-helpers/csrf-helper.js
  src/server/reports/helpers/fetch-report-detail.js
  src/server/reports/submit-controller.js
  src/server/reports/submit-controller.test.js
Due: prettier --write, npm run lint:fix

remove action column header
  src/server/reports/en.json
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

move tag colours to constant
  src/server/common/constants/css-classes.js
  src/server/reports/helpers/format-submission-status.js
Due: prettier --write, npm run lint:fix

extract build-action-cell, narrow submission-status types
  src/server/reports/helpers/format-submission-status.js
  src/server/reports/helpers/format-submission-status.test.js
  src/server/reports/list-controller.js
Due: prettier --write, npm run lint:fix

fix type errors in test
  src/server/reports/helpers/format-submission-status.test.js
Due: prettier --write, npm run lint:fix

PAE-1325: dedupe report listing header columns
  src/server/reports/list-controller.js
Due: prettier --write, npm run lint:fix

PAE-1325: unify submission-status helpers as table lookups
  src/server/reports/helpers/format-submission-status.js
Due: prettier --write, npm run lint:fix

PAE-1325: extract shared in-progress report-page helper
  src/server/common/helpers/prns/registration-helpers.js
  src/server/reports/create-controller.js
  src/server/reports/helpers/resolve-in-progress-report-page.js
  src/server/reports/helpers/resolve-in-progress-report-page.test.js
  src/server/reports/list-controller.js
Due: prettier --write, npm run lint:fix

PAE-1325: rename helper to get-in-progress-action-path
  src/server/reports/create-controller.js
  src/server/reports/helpers/get-in-progress-action-path.js
  src/server/reports/helpers/get-in-progress-action-path.test.js
  src/server/reports/list-controller.js
Due: prettier --write, npm run lint:fix

remove duplication in type-check summary message
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: prettier --write

Fix brace-expansion vulnerability
  package-lock.json
Due: prettier --write

PAE-1325: always show both report-listing tables with placeholders
  src/server/reports/en.json
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
  src/server/reports/list.njk
Due: prettier --write, npm run lint:fix

PAE-1325: render listing placeholders in secondary text colour
  src/server/reports/list-controller.test.js
  src/server/reports/list.njk
Due: prettier --write, npm run lint:fix

PAE-1325: align reports listing with designs (#816)
  .vite/fixtures/server.js
  fixtures/waste-organisations/organisations.json
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
  src/server/common/constants/css-classes.js
  src/server/common/helpers/prns/registration-helpers.js
  src/server/common/test-helpers/csrf-helper.js
  src/server/prns/list-view-data.js
  src/server/prns/list-view-data.test.js
  src/server/prns/post-controller.test.js
  src/server/reports/create-controller.js
  src/server/reports/en.json
  src/server/reports/helpers/fetch-reporting-periods.js
  src/server/reports/helpers/format-submission-status.js
  src/server/reports/helpers/format-submission-status.test.js
  src/server/reports/helpers/get-in-progress-action-path.js
  src/server/reports/helpers/get-in-progress-action-path.test.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
  src/server/reports/list.njk
Due: prettier --write, npm run lint:fix

PAE-250: Fix brace-expansion vulnerability (#819)
  package-lock.json
Due: prettier --write

PAE-1339: migrate type-check-tests to shared action
  .github/workflows/check-pull-request.yml
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: prettier --write

PAE-1339: flip action ref to @main now that #218 is merged
  .github/workflows/check-pull-request.yml
Due: none

PAE-1339: migrate type-check-tests to shared action (#820)
  .github/workflows/check-pull-request.yml
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: prettier --write

Fix dependency vulnerabilities
  .snyk
  package-lock.json
  package.json
Due: prettier --write

PAE-250: Fix @hapi/wreck, @hapi/content, tmp and uuid vulnerabilities (#822)
  .snyk
  package-lock.json
  package.json
Due: prettier --write

PAE-1538: render located summary-log cell errors as per-table tables
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/types.js
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

PAE-1538: group cell errors by worksheet then table, scope row-id
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/types.js
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

PAE-1538: show first-100-of-N truncation notice on rejection page
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

PAE-1538: lock empty-value and located/meta split behaviour with tests
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1538: add per-cell reason phrases for each field type
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

PAE-1538: add best-guess column-header labels (content to verify)
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

PAE-1538: collapse redundant heading and map DATE_RECEIVED_BY_OSR label
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

PAE-1538: wrap long values, rowspan row-id, shorten column label to (X)
  src/client/stylesheets/components/_index.scss
  src/client/stylesheets/components/_summary-log.scss
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/types.js
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

PAE-1538: full-width rejection page, cap column field at one-quarter
  src/server/summary-log/validation-failures.njk
Due: none

PAE-1538: full-width tables, add Cell (NxN) column, no-wrap row-id
  src/client/stylesheets/components/_summary-log.scss
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/types.js
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

PAE-1538: show issue count in intro and honest first-100 cap notice
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

PAE-1538: say '100 or more issues' when capped instead of misleading 100
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

PAE-1538: fold cap notice into action line to remove repetition
  src/server/summary-log/controller.js
  src/server/summary-log/en.json
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

PAE-1538: keep bold cap call-to-action, revert capped intro to generic
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

PAE-1538: bold the row id value in the error table
  src/server/summary-log/validation-failures.njk
Due: none

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
