Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

PAE-1339: stringify year for URLSearchParams
  src/server/common/helpers/waste-organisations/api-adapter.js
Due: prettier --write, npm run lint:fix

PAE-1339: type extractRegistrationTypes with domain WasteOrganisation
  src/server/common/helpers/waste-organisations/api-adapter.js
Due: prettier --write, npm run lint:fix

PAE-1339: wrap cache engine jsdoc cast in parens
  src/server/index.js
Due: prettier --write, npm run lint:fix

PAE-1339: narrow auth mode literal and satisfy RouteOptions
  src/server/index.js
Due: prettier --write, npm run lint:fix

PAE-1339: cast server to HapiServer for app.cache access
  src/server/index.js
Due: prettier --write, npm run lint:fix

PAE-1339: align in-memory fixture with WasteOrganisation shape
  src/server/common/helpers/waste-organisations/fixtures/in-memory.json
  src/server/index.js
Due: prettier --write, npm run lint:fix

PAE-1339: cast inside catchAll so server.ext call is clean
  src/server/common/helpers/errors.js
Due: prettier --write, npm run lint:fix

PAE-1339: add asHapiRequest helper for Request to HapiRequest casts
  src/server/auth/helpers/get-redirect-url.js
  src/server/auth/plugins/defra-id.js
  src/server/common/hapi-types.js
  src/server/common/helpers/errors.js
  src/server/plugins/boom-error-logger.js
Due: prettier --write, npm run lint:fix

PAE-1339: shorten raw-request param to r in ext handlers
  src/server/common/helpers/errors.js
  src/server/plugins/boom-error-logger.js
Due: prettier --write, npm run lint:fix

PAE-1339: allow NodeJS namespace in jsdoc type lookups + wrap long cast
  eslint.config.js
  src/server/index.js
Due: prettier --write, npm run lint:fix

PAE-1339: enforce lint:types in ci, drop advisory job
  .github/actions/test-and-scan/action.yml
  .github/workflows/check-pull-request.yml
Due: none

PAE-1339: fix type errors (#810)
  .github/actions/test-and-scan/action.yml
  .github/workflows/check-pull-request.yml
  eslint.config.js
  src/domain/organisations/model.js
  src/index.js
  src/index.test.js
  src/server/auth/helpers/get-redirect-url.js
  src/server/auth/plugins/defra-id.js
  src/server/common/constants/validation-codes.js
  src/server/common/enums/error-codes.js
  src/server/common/hapi-types.js
  src/server/common/helpers/content-security-policy.js
  src/server/common/helpers/errors.js
  src/server/common/helpers/i18n/i18n.js
  src/server/common/helpers/i18n/i18n.test.js
  src/server/common/helpers/i18next.js
  src/server/common/helpers/logging/logger-options.js
  src/server/common/helpers/materials/get-display-material.js
  src/server/common/helpers/materials/get-display-material.test.js
  src/server/common/helpers/secure-context/get-trust-store-certs.js
  src/server/common/helpers/upload/fetch-summary-log-status.js
  src/server/common/helpers/waste-organisations/api-adapter.js
  src/server/common/helpers/waste-organisations/fixtures/in-memory.json
  src/server/index.js
  src/server/plugins/boom-error-logger.js
  src/server/prns/view-data.js
Due: prettier --write, npm run lint:fix

Add double-click prevention to create PRN button
  src/server/prns/view-controller.test.js
  src/server/prns/view.njk
Due: prettier --write, npm run lint:fix

Add double-click prevention to form buttons
  src/server/account/linking/controller.test.js
  src/server/account/linking/index.njk
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/confirm-delete.njk
  src/server/reports/delete-controller.test.js
  src/server/reports/detail-controller.test.js
  src/server/reports/detail.njk
  src/server/reports/submit-controller.test.js
  src/server/reports/submit.njk
Due: prettier --write, npm run lint:fix

fix: remove redundant assertion to satisfy vitest/max-expects lint rule
  src/server/prns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: scaffold lint:types:tests with typed server fixture
  .vite/fixtures/server.js
  jsconfig.typecheck.tests.json
  package.json
Due: prettier --write

PAE-1339: add typed mockAuth/buildAuth test helper
  src/server/common/test-helpers/auth.js
Due: prettier --write, npm run lint:fix

PAE-1339: migrate test mockAuth to shared helper
  src/server/account/email-not-recognised/controller.test.js
  src/server/account/linking/controller.test.js
  src/server/home/controller.test.js
  src/server/logged-out/controller.test.js
  src/server/logout/get-controller.test.js
  src/server/organisations/controller.test.js
  src/server/organisations/error-controller.test.js
  src/server/prns/action-controller.test.js
  src/server/prns/cancel-controller.test.js
  src/server/prns/cancelled-controller.test.js
  src/server/prns/controller.test.js
  src/server/prns/created-controller.test.js
  src/server/prns/delete-controller.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/issue-controller.test.js
  src/server/prns/issued-controller.test.js
  src/server/prns/list-controller.test.js
  src/server/prns/post-controller.test.js
  src/server/prns/view-controller.test.js
  src/server/registrations/controller.test.js
  src/server/reports/check-controller.test.js
  src/server/reports/create-controller.test.js
  src/server/reports/created-controller.test.js
  src/server/reports/delete-controller.test.js
  src/server/reports/detail-controller.test.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/exporter/tonnes-not-exported-controller.test.js
  src/server/reports/helpers/create-free-tonnage-controllers.test.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/list-controller.test.js
  src/server/reports/prn-summary-dispatcher.test.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/submit-controller.test.js
  src/server/reports/submitted-controller.test.js
  src/server/reports/supporting-information-controller.test.js
  src/server/reports/view-controller.test.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/submit-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: type prns, summary-log, navigation, format-tonnage tests
  src/config/nunjucks/context/build-navigation.test.js
  src/config/nunjucks/context/context.test.js
  src/config/nunjucks/filters/format-tonnage.test.js
  src/server/prns/issued-controller.test.js
  src/server/prns/list-controller.test.js
  src/server/prns/post-controller.test.js
  src/server/prns/view-controller.test.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: type summary-log, organisations, registrations with mock retyping
  .vite/fixtures/server.js
  src/config/nunjucks/filters/format-tonnage.test.js
  src/server/auth/callback/controller.test.js
  src/server/organisations/controller.test.js
  src/server/prns/cancel-controller.test.js
  src/server/prns/delete-controller.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/issue-controller.test.js
  src/server/prns/issued-controller.test.js
  src/server/prns/list-controller.test.js
  src/server/prns/list-view-data.test.js
  src/server/prns/post-controller.test.js
  src/server/prns/view-controller.test.js
  src/server/registrations/controller.test.js
  src/server/reports/create-controller.test.js
  src/server/reports/list-controller.test.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: type prns view, list, list-view-data, issued, post tests
  src/server/auth/callback/controller.test.js
  src/server/reports/create-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: type create-page-guards + various agent fixes
  src/server/auth/callback/controller.test.js
  src/server/prns/action-controller.test.js
  src/server/reports/check-controller.test.js
  src/server/reports/helpers/create-page-guards.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: type reports detail, check, submit, supporting tests
  src/server/auth/callback/controller.test.js
  src/server/auth/helpers/session-cookie.test.js
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.test.js
  src/server/prns/cancelled-controller.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/issue-controller.test.js
  src/server/reports/detail-controller.test.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/submit-controller.test.js
  src/server/reports/supporting-information-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: fix unclosed asReport call in tonnes-recycled test
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.test.js
  src/server/reports/helpers/create-free-tonnage-controllers.test.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: add advisory ci job for lint:types:tests
  .github/workflows/check-pull-request.yml
Due: none

PAE-1339: simplify ci summary generation with heredoc
  .github/workflows/check-pull-request.yml
Due: none

PAE-1339: format two test files
  src/server/auth/helpers/session-cookie.test.js
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: upgrade npm in advisory ci job to satisfy engine pin
  .github/workflows/check-pull-request.yml
Due: none

PAE-1339: suppress tsc problem-matcher annotations on advisory job
  .github/workflows/check-pull-request.yml
Due: none

PAE-1339: drop csrfOpts wrappers, widen getCsrfToken options
  .vite/fixtures/server.js
  src/server/auth/callback/controller.test.js
  src/server/auth/helpers/session-cookie.test.js
  src/server/common/test-helpers/auth.js
  src/server/common/test-helpers/csrf-helper.js
  src/server/reports/check-controller.test.js
  src/server/reports/create-controller.test.js
  src/server/reports/helpers/create-free-tonnage-controllers.test.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/submit-controller.test.js
  src/server/reports/supporting-information-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: disable tsc problem matcher on advisory job
  .github/workflows/check-pull-request.yml
Due: none

PAE-1339: keep non-Boom error in fetch-failure test to assert 500 wrap
  src/server/organisations/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: enrich advisory summary with error codes and full error list
  .github/workflows/check-pull-request.yml
Due: none

PAE-1339: link ts codes to typescript.tv and use canonical templates
  .github/workflows/check-pull-request.yml
Due: none

PAE-1450: Add double-click prevention to PRN create button (#811)
  src/server/prns/view-controller.test.js
  src/server/prns/view.njk
Due: prettier --write, npm run lint:fix

PAE-1464: Add double-click prevention to reports and account form buttons (#812)
  src/server/account/linking/controller.test.js
  src/server/account/linking/index.njk
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/confirm-delete.njk
  src/server/reports/delete-controller.test.js
  src/server/reports/detail-controller.test.js
  src/server/reports/detail.njk
  src/server/reports/submit-controller.test.js
  src/server/reports/submit.njk
Due: prettier --write, npm run lint:fix

PAE-1138 Remove logging added to debug long-running requests
  src/server/common/helpers/logging/logger-options.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1183 remove redundant tests
  src/server/common/helpers/request-tracing.integration.test.js
Due: prettier --write, npm run lint:fix

PAE-1138 Remove logging added to debug long-running requests (#814)
  src/server/common/helpers/logging/logger-options.js
  src/server/common/helpers/request-tracing.integration.test.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: scaffold lint:types:tests script and advisory ci job
  .github/workflows/check-pull-request.yml
  jsconfig.typecheck.tests.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
