Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "src/**/*.js": ["npm run lint:fix"]
}

PAE-1298: Refactor reporting templates to use placeholder pattern
  src/server/common/helpers/prns/registration-helpers.js
  src/server/common/helpers/prns/registration-helpers.test.js
  src/server/reports/check-controller.js
  src/server/reports/check-your-answers.njk
  src/server/reports/detail-controller.js
  src/server/reports/detail.njk
  src/server/reports/en.json
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/free-perns.njk
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/helpers/validation.js
  src/server/reports/reprocessor/free-prns-controller.js
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/submit-controller.js
  src/server/reports/submit.njk
  src/server/reports/view-controller.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

PAE-1298: Comment wasteActionGerund/wasteAction overlap
  src/server/common/helpers/prns/registration-helpers.js
Due: prettier --write, npm run lint:fix

PAE-1286: point pr-preparation back to @main
  .github/workflows/check-pull-request.yml
Due: none

PAE-1286: add renovate config for dockerfile image updates (#720)
  .github/workflows/renovate-docker.yml
  renovate.json
Due: prettier --write

PAE-1286: fix renovate action version to v46.1.8
  .github/workflows/renovate-docker.yml
Due: none

PAE-1286: set renovate repository via env var
  .github/workflows/renovate-docker.yml
Due: none

PAE-1298: Extract buildPageLabels to satisfy SonarCloud function length
  src/server/reports/submit-controller.js
Due: prettier --write, npm run lint:fix

PAE-1297: always show submitted details
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

PAE-1297: Add submitted by and date to view-submitted-report page
  src/server/reports/en.json
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

PAE-1297: Add submitted by and date to view-submitted-report page (#722)
  src/server/reports/en.json
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

PAE-1286: add debug logging to renovate workflow
  .github/workflows/renovate-docker.yml
Due: none

PAE-1286: add recreate-when always to renovate config
  renovate.json
Due: prettier --write

PAE-1286: use triggering branch as renovate base for testing
  .github/workflows/renovate-docker.yml
Due: none

PAE-1286: add statuses write permission for renovate
  .github/workflows/renovate-docker.yml
Due: none

PAE-1300: Show exporter report sections when export activity is null
  src/server/reports/check-controller.js
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/detail.njk
  src/server/reports/submit-controller.js
  src/server/reports/submit-controller.test.js
  src/server/reports/submit.njk
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

PAE-1286: add renovate commit message prefix and lowercase
  renovate.json
Due: prettier --write

PAE-1286: remove debug logging and test base branch
  .github/workflows/renovate-docker.yml
Due: none

PAE-1300: Extract buildWasteExported in submit controller
  src/server/reports/submit-controller.js
Due: prettier --write, npm run lint:fix

PAE-1286: add renovate for dockerfile image updates (#726)
  .github/workflows/renovate-docker.yml
  renovate.json
Due: prettier --write

PAE-1286: switch renovate to npx mode with npm caching
  .github/workflows/renovate-docker.yml
Due: none

PAE-1300: Add JSDoc type annotations to report detail test fixtures
  src/server/reports/check-controller.test.js
  src/server/reports/detail-controller.test.js
  src/server/reports/submit-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1286: use Renovate: prefix for commit messages
  renovate.json
Due: prettier --write

PAE-1298: Extract buildPageLabels in view-controller for SonarCloud function length
  src/server/reports/view-controller.js
Due: prettier --write, npm run lint:fix

PAE-1286: add github-actions to renovate managed ecosystems
  renovate.json
Due: prettier --write

PAE-1300: Show exporter report sections when export activity is null (#725)
  src/server/reports/check-controller.js
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/detail.njk
  src/server/reports/submit-controller.js
  src/server/reports/submit-controller.test.js
  src/server/reports/submit.njk
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

PAE-1298: Refactor reporting templates to use placeholder pattern (#721)
  src/server/common/helpers/prns/registration-helpers.js
  src/server/common/helpers/prns/registration-helpers.test.js
  src/server/reports/check-controller.js
  src/server/reports/check-your-answers.njk
  src/server/reports/detail-controller.js
  src/server/reports/detail.njk
  src/server/reports/en.json
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/free-perns.njk
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/helpers/validation.js
  src/server/reports/reprocessor/free-prns-controller.js
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/submit-controller.js
  src/server/reports/submit.njk
  src/server/reports/view-controller.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

fix(reports): use consistent heading size for waste received section
  src/server/reports/check-your-answers.njk
Due: none

fix(reports): use consistent heading size for waste received section (#730)
  src/server/reports/check-your-answers.njk
Due: none

PAE-1286: group defra node base images in renovate
  renovate.json
Due: prettier --write

PAE-1286: add base branch override for testing
  .github/workflows/renovate-docker.yml
Due: none

PAE-1286: add debug logging
  .github/workflows/renovate-docker.yml
Due: none

PAE-1286: disable pr hourly limit for testing
  .github/workflows/renovate-docker.yml
Due: none

PAE-1286: remove github-actions from renovate and clean up test config
  .github/workflows/renovate-docker.yml
  renovate.json
Due: prettier --write

PAE-1286: update renovate config for docker updates (#729)
  .github/workflows/renovate-docker.yml
  renovate.json
Due: prettier --write

PAE-1286: use shared renovate preset and action
  .github/workflows/renovate-docker.yml
  renovate.json
Due: prettier --write

PAE-1247: add draft report view for 'Ready to submit' reports
  src/server/reports/created-controller.js
  src/server/reports/created-controller.test.js
  src/server/reports/created.njk
  src/server/reports/en.json
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

PAE-1286: use shared renovate preset and action (#739)
  .github/workflows/renovate-docker.yml
  renovate.json
Due: prettier --write

PAE-1286: fix preset path syntax
  renovate.json
Due: prettier --write

PAE-1286: fix renovate preset path syntax (#741)
  renovate.json
Due: prettier --write

Address review feedback: replace isDraft boolean with status enum
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
Due: prettier --write, npm run lint:fix
