Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

PAE-1649: Always show due date for resubmission rows (#943)
  src/server/reports/helpers/format-submission-status.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1301: Show missing report values as zero or None provided (#924)
  src/config/nunjucks/filters/format-tonnage.js
  src/config/nunjucks/filters/format-tonnage.test.js
  src/server/common/helpers/format-currency.js
  src/server/common/helpers/format-currency.test.js
  src/server/reports/check-controller.js
  src/server/reports/check-controller.test.js
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/en.json
  src/server/reports/helpers/build-report-view-data.js
  src/server/reports/helpers/build-report-view-data.test.js
  src/server/reports/helpers/build-table-rows.js
  src/server/reports/helpers/build-table-rows.test.js
  src/server/reports/helpers/dash-formatters.js
  src/server/reports/helpers/format-export-tonnages.js
  src/server/reports/helpers/format-or-dash.js
  src/server/reports/helpers/format-or-dash.test.js
  src/server/reports/submit-controller.js
  src/server/reports/submit-controller.test.js
  src/server/reports/view-controller.js
Due: prettier --write, npm run lint:fix

pin typecheck-burndown to branch for preview
  .github/workflows/check-pull-request.yml
Due: none

add prod typecheck job via shared action
  .github/workflows/check-pull-request.yml
Due: none

pin lint-types jobs to branch for preview
  .github/workflows/check-pull-request.yml
Due: none

point typecheck jobs at renamed lint-types action
  .github/workflows/check-pull-request.yml
Due: none

graduate zero-cost strict levers into base config
  jsconfig.typecheck.base.json
  jsconfig.typecheck.strict.json
Due: prettier --write

sort keys across typecheck config files
  jsconfig.typecheck.base.json
  jsconfig.typecheck.strict.json
  tsconfig.json
Due: prettier --write

Show none provided for blank supplier fields
  src/server/reports/detail-controller.js
  src/server/reports/helpers/build-table-rows.js
  src/server/reports/helpers/build-table-rows.test.js
  src/server/reports/helpers/fetch-report-detail.js
Due: prettier --write, npm run lint:fix

Assert none provided at page level for suppliers
  src/server/reports/detail-controller.test.js
  src/server/reports/helpers/build-table-rows.test.js
Due: prettier --write, npm run lint:fix

PAE-1301: Show 'None provided' for missing supplier name and activity (#946)
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/helpers/build-table-rows.js
  src/server/reports/helpers/build-table-rows.test.js
  src/server/reports/helpers/fetch-report-detail.js
Due: prettier --write, npm run lint:fix

Rename qualitativeCell and noneText for clarity
  src/server/reports/check-controller.js
  src/server/reports/detail-controller.js
  src/server/reports/helpers/build-report-view-data.js
  src/server/reports/helpers/build-report-view-data.test.js
  src/server/reports/helpers/build-table-rows.js
  src/server/reports/helpers/build-table-rows.test.js
  src/server/reports/submit-controller.js
  src/server/reports/view-controller.js
Due: prettier --write, npm run lint:fix

Rename freeTextCell to optionalTextCell
  src/server/reports/helpers/build-table-rows.js
Due: prettier --write, npm run lint:fix

PAE-1301: Clarify report table cell and fallback naming (#947)
  src/server/reports/check-controller.js
  src/server/reports/detail-controller.js
  src/server/reports/helpers/build-report-view-data.js
  src/server/reports/helpers/build-report-view-data.test.js
  src/server/reports/helpers/build-table-rows.js
  src/server/reports/helpers/build-table-rows.test.js
  src/server/reports/submit-controller.js
  src/server/reports/view-controller.js
Due: prettier --write, npm run lint:fix

PAE-1733: render worksheet names as small headings
  src/client/stylesheets/components/_summary-log.scss
  src/server/summary-log/enhanced-check.njk
Due: none

Restore over-cap cautionary line; drop dead flag
  src/server/summary-log/controller.test.js
  src/server/summary-log/enhanced-check.njk
Due: prettier --write, npm run lint:fix

PAE-1733: drop cautionary heading, keep never-counts only (v2)
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check.njk
Due: prettier --write, npm run lint:fix

Collapse non-contributing section on check page
  src/domain/summary-logs/classification-reason.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check-controller.js
  src/server/summary-log/enhanced-check.njk
  src/server/summary-log/types.js
Due: prettier --write, npm run lint:fix

PAE-1733: list by-design worksheet rows under per-worksheet headings
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check-controller.js
  src/server/summary-log/enhanced-check.njk
  src/server/summary-log/types.js
Due: prettier --write, npm run lint:fix

point typecheck jobs at @main now action is merged
  .github/workflows/check-pull-request.yml
Due: none

PAE-000: typecheck strictness — hard gate + soft burndown ratchet (#945)
  .github/workflows/check-pull-request.yml
  jsconfig.typecheck.base.json
  jsconfig.typecheck.json
  jsconfig.typecheck.strict.json
  package.json
  tsconfig.json
Due: prettier --write

Keep worksheet-name typography in the component class
  src/client/stylesheets/components/_summary-log.scss
  src/server/summary-log/enhanced-check.njk
Due: none

PAE-1733: Surface by-design non-contributing loads on the check page (#935)
  src/client/stylesheets/components/_summary-log.scss
  src/domain/summary-logs/classification-reason.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check-controller.js
  src/server/summary-log/enhanced-check.njk
  src/server/summary-log/types.js
Due: prettier --write, npm run lint:fix

hoist generic error page into shared view and builder
  src/server/error/en.json
  src/server/error/generic-error.js
  src/server/error/generic-error.test.js
  src/server/error/generic.njk
  src/server/organisations/en.json
  src/server/organisations/error-controller.js
Due: prettier --write, npm run lint:fix

render generic error page for 5xx and log the error
  src/server/common/helpers/errors.integration.test.js
  src/server/common/helpers/errors.js
  src/server/common/helpers/errors.test.js
Due: prettier --write, npm run lint:fix

drop redundant unit tests covered by integration
  src/server/common/helpers/errors.test.js
  src/server/error/generic-error.test.js
Due: prettier --write, npm run lint:fix

localise org error page home link
  src/server/organisations/error-controller.js
Due: prettier --write, npm run lint:fix

PAE-1748: Report entry pages show inconsistent "Create report" caption instead of "Create draft report"
  src/server/reports/check-controller.js
  src/server/reports/detail.njk
  src/server/reports/en.json
  src/server/reports/exporter/tonnes-not-exported-controller.js
  src/server/reports/helpers/create-free-tonnage-controllers.js
  src/server/reports/helpers/create-prn-summary-controllers.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
  src/server/reports/resubmission-explainer-controller.js
  src/server/reports/supporting-information-controller.js
  src/server/reports/supporting-information-controller.test.js
Due: prettier --write, npm run lint:fix

Add 'would' to worksheet never-counts copy
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

trim redundant assertions from 5xx integration test
  src/server/common/helpers/errors.integration.test.js
Due: prettier --write, npm run lint:fix

PAE-1748: Use one shared "Create draft report" caption/button string (#951)
  src/server/reports/check-controller.js
  src/server/reports/detail.njk
  src/server/reports/en.json
  src/server/reports/exporter/tonnes-not-exported-controller.js
  src/server/reports/helpers/create-free-tonnage-controllers.js
  src/server/reports/helpers/create-prn-summary-controllers.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
  src/server/reports/resubmission-explainer-controller.js
  src/server/reports/supporting-information-controller.js
  src/server/reports/supporting-information-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1744: Align report summary list value columns
  src/server/common/components/tonnage-breakdown/macro.njk
  src/server/reports/check-your-answers.njk
  src/server/reports/submit.njk
  src/server/reports/view.njk
Due: none

PAE-1744: Align report summary list value columns (#952)
  src/server/common/components/tonnage-breakdown/macro.njk
  src/server/reports/check-your-answers.njk
  src/server/reports/submit.njk
  src/server/reports/view.njk
Due: none

PAE-1733: Update worksheet 'never counts' section copy (#953)
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

tighten email and phone spacing on error page
  src/server/error/generic.njk
Due: none

Drop test assertions that verify removed old copy
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1743: Split adjusted loads by direction
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check-controller.js
  src/server/summary-log/enhanced-check.njk
  src/server/summary-log/types.js
Due: prettier --write, npm run lint:fix

PAE-1743: Group adjusted loads by balance direction with reasons (#949)
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check-controller.js
  src/server/summary-log/enhanced-check.njk
  src/server/summary-log/types.js
Due: prettier --write, npm run lint:fix

PAE-1698: fix PRN/PERN placeholder copy and empty-reasons stale guard
  src/server/reports/en.json
  src/server/reports/helpers/fetch-report-detail.js
  src/server/reports/helpers/fetch-report-detail.test.js
  src/server/reports/helpers/stale.js
  src/server/reports/report-stale-error-controller.js
  src/server/reports/report-stale-error-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1698: handle PRN-cancelled and combined report staleness
  src/server/reports/en.json
  src/server/reports/helpers/fetch-report-backend.js
  src/server/reports/helpers/fetch-report-backend.test.js
  src/server/reports/helpers/fetch-report-detail.js
  src/server/reports/helpers/fetch-report-detail.test.js
  src/server/reports/helpers/stale.js
  src/server/reports/helpers/stale.test.js
  src/server/reports/helpers/summary-log-changed.js
  src/server/reports/helpers/summary-log-changed.test.js
  src/server/reports/index.js
  src/server/reports/index.test.js
  src/server/reports/report-stale-error-controller.js
  src/server/reports/report-stale-error-controller.test.js
  src/server/reports/report-stale-error.njk
  src/server/reports/summary-log-changed-error-controller.test.js
Due: prettier --write, npm run lint:fix

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
