Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

Remove /account referrer from login controller (#302)
  src/server/login/controller.js
Due: prettier --write, npm run lint:fix

PAE-800: fix email-not-recognised returns 500
  src/server/account/email-not-recognised/controller.test.js
  src/server/logout/prerequisites/provide-authed-user.js
Due: prettier --write, npm run lint:fix

PAE-502: update (linking) troubleshooting to support i18n
  README.md
  package-lock.json
  src/server/account/en.json
  src/server/account/linking/controller.test.js
  src/server/account/linking/index.njk
  src/server/account/linking/post-controller.test.js
  src/server/account/linking/view-data.js
  src/server/account/linking/view-data.test.js
Due: prettier --write, npm run lint:fix

PAE-800: fix email-not-recognised returns 500 (#305)
  src/server/account/email-not-recognised/controller.test.js
  src/server/logout/prerequisites/provide-authed-user.js
Due: prettier --write, npm run lint:fix

redirecting to logged out
  src/server/organisations/controller.js
  src/server/registrations/controller.js
  src/server/summary-log-upload/controller.js
  src/server/summary-log/controller.js
  src/server/summary-log/submit-controller.js
Due: prettier --write, npm run lint:fix

PAE-791: Update /Start page content to match new designs
  src/client/stylesheets/components/_index.scss
  src/client/stylesheets/components/_quick-links.scss
  src/server/home/controller.js
  src/server/home/controller.test.js
  src/server/home/en.json
  src/server/home/index.njk
Due: prettier --write, npm run lint:fix

Split quick links test to fix max-expects warning
  src/server/home/controller.test.js
Due: prettier --write, npm run lint:fix

Simplify govuk-frontend import path in quick-links SCSS
  src/client/stylesheets/components/_quick-links.scss
Due: none

PAE-662: replace javascript: back links with proper URLs
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/index.njk
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

adding tests
  src/server/organisations/controller.test.js
  src/server/registrations/controller.test.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/submit-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-662: add tests for back link URLs
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-502: drop security rating badge from readme
  README.md
Due: prettier --write

PAE-662: Fix CSP-violating back links (#308)
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log-upload/index.njk
  src/server/summary-log/controller.test.js
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

Add spacing between Quick links list items
  src/client/stylesheets/components/_quick-links.scss
Due: none

PAE-502: update (linking) troubleshooting to support i18n (#307)
  README.md
  package-lock.json
  src/server/account/en.json
  src/server/account/linking/controller.test.js
  src/server/account/linking/index.njk
  src/server/account/linking/post-controller.test.js
  src/server/account/linking/view-data.js
  src/server/account/linking/view-data.test.js
Due: prettier --write, npm run lint:fix

Increase spacing between Beta banner and main content
  src/client/stylesheets/core/_main.scss
Due: none

Align Start page styling with Figma designs
  src/client/stylesheets/components/_quick-links.scss
  src/client/stylesheets/core/_main.scss
  src/server/home/index.njk
Due: none

PAE-805: fix auth loop when returning from Account Management
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

PAE-805: redirect linked users to dashboard, not /start
  src/server/auth/callback/controller.js
  src/server/auth/callback/controller.test.js
Due: prettier --write, npm run lint:fix

fix(auth): use includes() for start page check to satisfy SonarCloud
  src/server/auth/callback/controller.js
Due: prettier --write, npm run lint:fix

possible refresh token solution, expires correction
  src/server/auth/helpers/build-session.js
  src/server/auth/helpers/refresh-token.js
  src/server/auth/helpers/user-session.js
  src/server/auth/types/session.js
Due: prettier --write, npm run lint:fix

PAE-791: Update /start page content to match new designs (#306)
  src/client/stylesheets/components/_index.scss
  src/client/stylesheets/components/_quick-links.scss
  src/client/stylesheets/core/_main.scss
  src/server/home/controller.js
  src/server/home/controller.test.js
  src/server/home/en.json
  src/server/home/index.njk
Due: prettier --write, npm run lint:fix

PAE-781: require auth on routes as the default
  src/server/account/index.js
  src/server/account/linking/controller.test.js
  src/server/account/linking/get-controller.test.js
  src/server/account/linking/post-controller.js
  src/server/account/linking/post-controller.test.js
  src/server/account/linking/prerequisites/provide-user-organisations.test.js
  src/server/auth/callback/controller.test.js
  src/server/auth/helpers/refresh-token.js
  src/server/common/test-helpers/auth-helper.js
  src/server/common/test-helpers/csrf-helper.js
  src/server/contact/index.js
  src/server/cookies/index.js
  src/server/health/index.js
  src/server/home/index.js
  src/server/index.js
  src/server/logged-out/index.js
  src/server/logout/index.js
  src/server/logout/prerequisites/provide-authed-user.js
  src/server/logout/prerequisites/provide-authed-user.test.js
  src/server/organisations/controller.js
  src/server/organisations/controller.test.js
  src/server/registrations/controller.js
  src/server/registrations/controller.test.js
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log-upload/index.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/index.js
  src/server/summary-log/submit-controller.js
  src/server/summary-log/submit-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-781: tighten result type
  src/server/common/helpers/result.js
  src/server/common/helpers/result.test.js
Due: prettier --write, npm run lint:fix

PAE-781: fix lint warning
  src/server/account/linking/view-data.test.js
Due: prettier --write, npm run lint:fix

PAE-805: fix auth loop when returning from Account Management (#309)
  src/server/auth/callback/controller.js
  src/server/auth/callback/controller.test.js
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

PAE-781: remove redundant field from view-data
  src/server/account/linking/index.njk
  src/server/account/linking/view-data.js
  src/server/account/linking/view-data.test.js
Due: prettier --write, npm run lint:fix

use caret for node version 24
  package-lock.json
  package.json
Due: prettier --write

possible refresh token solution, expires correction
  src/server/auth/helpers/build-session.test.js
  src/server/auth/helpers/get-user-session.js
  src/server/auth/helpers/get-user-session.test.js
  src/server/auth/helpers/refresh-token.test.js
  src/server/auth/helpers/session-cookie.js
  src/server/auth/plugins/defra-id.test.js
  src/server/organisations/controller.test.js
  src/server/registrations/controller.test.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/submit-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-772: Handle CDP uploader errors with client-side JavaScript
  src/client/javascripts/application.js
  src/server/common/components/summary-log-upload/macro.njk
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log-upload/index.njk
Due: prettier --write, npm run lint:fix

Fix SonarCloud critical violation: extract duplicated literals
  src/server/summary-log-upload/controller.js
Due: prettier --write, npm run lint:fix

PAE-772: Use bfcache reload instead of fetch interception
  src/client/javascripts/application.js
  src/server/common/components/summary-log-upload/macro.njk
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log-upload/index.njk
Due: prettier --write, npm run lint:fix

PAE-772: Prevent stale uploadId errors on back navigation (#317)
  src/client/javascripts/application.js
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-810: Simplify upload-file page content to match updated prototype
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log-upload/en.json
  src/server/summary-log-upload/index.njk
Due: prettier --write, npm run lint:fix

PAE-810: Minor tweaks to styling
  src/server/common/components/summary-log-upload/macro.njk
  src/server/summary-log-upload/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-810: Minor tweak to styling
  src/server/common/components/summary-log-upload/macro.njk
Due: none

PAE-810: Minor tweak to styling
  src/server/summary-log-upload/index.njk
Due: none

PAE-811: Update file-being-checked screen content to match latest designs
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/progress.njk
Due: prettier --write, npm run lint:fix

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
