Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

Improve names
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

Add clarity in comment
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

PAE-1151 when expired token refreshed use it in current request (#607)
  src/server/auth/helpers/session-cookie.js
  src/server/auth/helpers/session-cookie.test.js
Due: prettier --write, npm run lint:fix

PAE-1164: add start/end log events to token refresh
  src/server/auth/helpers/refresh-token.js
  src/server/auth/helpers/refresh-token.test.js
  src/server/auth/helpers/session-cookie.js
  src/server/common/helpers/metrics/index.js
Due: prettier --write, npm run lint:fix

unify log messages with start/end
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

add span-id to start/end
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

use named functions for blocking/background refresh
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

define constants for the logged event
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

use factory function for events
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

close over verifyToken
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

convert iife to named function for readability
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

drop span as not much use here
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

rename for consistency
  src/server/auth/helpers/refresh-token.js
Due: prettier --write, npm run lint:fix

Add jsconfig.typecheck.json for JS type checking
  jsconfig.typecheck.json
Due: prettier --write

chore: remove FEATURE_FLAG_PACKAGING_RECYCLING_NOTES feature flag (#606)
  src/config/config.js
  src/server/prns/action-controller.js
  src/server/prns/action-controller.test.js
  src/server/prns/cancel-controller.test.js
  src/server/prns/cancelled-controller.test.js
  src/server/prns/controller.js
  src/server/prns/controller.test.js
  src/server/prns/created-controller.js
  src/server/prns/created-controller.test.js
  src/server/prns/delete-controller.test.js
  src/server/prns/discard-controller.js
  src/server/prns/discard-controller.test.js
  src/server/prns/helpers/fetch-prn-context.js
  src/server/prns/issue-controller.js
  src/server/prns/issue-controller.test.js
  src/server/prns/issued-controller.js
  src/server/prns/issued-controller.test.js
  src/server/prns/list-controller.js
  src/server/prns/list-controller.test.js
  src/server/prns/post-controller.js
  src/server/prns/post-controller.test.js
  src/server/prns/view-controller.js
  src/server/prns/view-controller.test.js
  src/server/registrations/controller.js
  src/server/registrations/controller.test.js
  src/server/registrations/en.json
  src/server/registrations/index.njk
  src/server/router.js
Due: prettier --write, npm run lint:fix

PAE-1164: use timer from cdp-metrics library
  .vite/setup-files.js
  package-lock.json
  package.json
  src/server/auth/helpers/session-cookie.js
  src/server/common/helpers/metrics/index.js
  src/server/index.js
Due: prettier --write, npm run lint:fix

another closure for verify-token
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

add names to arrow functions for stack traces
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

add some types
  src/server/auth/helpers/session-cookie.js
Due: prettier --write, npm run lint:fix

assert timer metrics being sent
  src/server/auth/helpers/refresh-token.js
  src/server/auth/helpers/refresh-token.test.js
  src/server/auth/helpers/session-cookie.test.js
Due: prettier --write, npm run lint:fix

PAE-1172: add isReportsEnabled feature flag
  src/config/config.js
Due: prettier --write, npm run lint:fix

PAE-1164: improve observability of defra id calls (#610)
  .vite/setup-files.js
  package-lock.json
  package.json
  src/server/auth/helpers/refresh-token.js
  src/server/auth/helpers/refresh-token.test.js
  src/server/auth/helpers/session-cookie.js
  src/server/auth/helpers/session-cookie.test.js
  src/server/index.js
Due: prettier --write, npm run lint:fix

PAE-1172: add isReportsEnabled feature flag (#616)
  src/config/config.js
Due: prettier --write, npm run lint:fix

PAE-1186: Add reporting periods endpoint with cadence domain model
  src/server/registrations/controller.js
  src/server/registrations/controller.test.js
  src/server/registrations/en.json
  src/server/registrations/index.njk
  src/server/reports/constants.js
  src/server/reports/en.json
  src/server/reports/helpers/fetch-reporting-periods.js
  src/server/reports/helpers/fetch-reporting-periods.test.js
  src/server/reports/helpers/format-period-label.js
  src/server/reports/helpers/format-period-label.test.js
  src/server/reports/index.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
  src/server/reports/list.njk
  src/server/router.js
Due: prettier --write, npm run lint:fix

PAE-1186: Address sonar issue
  src/server/reports/helpers/format-period-label.js
Due: prettier --write, npm run lint:fix

Add jsconfig.typecheck.json for JS type checking (#615)
  jsconfig.typecheck.json
Due: prettier --write

delete test file
  get_cognito_token.py
Due: none

PAE-1201: reuse pr-preparation action from binder repository
  .github/workflows/check-pull-request.yml
Due: none

PAE-1201: reuse pr-preparation action from binder repository (#622)
  .github/workflows/check-pull-request.yml
Due: none

PAE-1156: add registered only feature flag
  src/config/config.js
  src/config/config.test.js
Due: prettier --write, npm run lint:fix

PAE-1156: add registered only feature flag (#626)
  src/config/config.js
  src/config/config.test.js
Due: prettier --write, npm run lint:fix

PAE-1203: update undici
  package-lock.json
  package.json
Due: prettier --write

PAE-1203: update undici (#627)
  package-lock.json
  package.json
Due: prettier --write

PAE-1186: Address review comments
  src/server/reports/en.json
  src/server/reports/helpers/format-period-label.js
  src/server/reports/helpers/format-period-label.test.js
  src/server/reports/list-controller.js
Due: prettier --write, npm run lint:fix

PAE-1186: Fix linting issue
  src/server/reports/helpers/format-period-label.js
Due: prettier --write, npm run lint:fix

PAE-1186: Updated quarterly reporting format
  src/server/reports/en.json
  src/server/reports/helpers/format-period-label.js
  src/server/reports/helpers/format-period-label.test.js
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1186: Add reporting periods endpoint with cadence domain model (#619)
  src/server/registrations/controller.js
  src/server/registrations/controller.test.js
  src/server/registrations/en.json
  src/server/registrations/index.njk
  src/server/reports/constants.js
  src/server/reports/en.json
  src/server/reports/helpers/fetch-reporting-periods.js
  src/server/reports/helpers/fetch-reporting-periods.test.js
  src/server/reports/helpers/format-period-label.js
  src/server/reports/helpers/format-period-label.test.js
  src/server/reports/index.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
  src/server/reports/list.njk
  src/server/router.js
Due: prettier --write, npm run lint:fix

PAE-1200: Add report detail page for registered-only reprocessors
  src/server/common/helpers/format-date.js
  src/server/common/helpers/format-date.test.js
  src/server/common/helpers/format-time.js
  src/server/common/helpers/format-time.test.js
  src/server/common/helpers/prns/registration-helpers.js
  src/server/common/helpers/prns/registration-helpers.test.js
  src/server/prns/helpers/build-prn-detail-rows.js
  src/server/prns/helpers/format-date-for-display.js
  src/server/prns/helpers/format-date-for-display.test.js
  src/server/prns/list-view-data.js
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/detail.njk
  src/server/reports/en.json
  src/server/reports/helpers/fetch-report-detail.js
  src/server/reports/helpers/fetch-report-detail.test.js
  src/server/reports/helpers/has-detail-view.js
  src/server/reports/helpers/has-detail-view.test.js
  src/server/reports/index.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
  src/server/reports/list.njk
Due: prettier --write, npm run lint:fix

PAE-1224: fix font rendering on macos local development
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write

PAE-1224: fix font rendering on macos local development (#634)
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
