Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

Increase period group spacing to GDS max
  src/server/summary-log/enhanced-check.njk
Due: none

Use default GDS bullet indent
  src/client/stylesheets/components/_summary-log.scss
Due: none

Style tonnage line as caption to match design
  src/server/summary-log/enhanced-check.njk
Due: none

Increase period gap and tighten bullet indent
  src/client/stylesheets/components/_summary-log.scss
  src/server/summary-log/enhanced-check.njk
Due: none

Apply enhanced check page design feedback
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check.njk
Due: prettier --write, npm run lint:fix

Tune check page spacing and section labels
  src/client/stylesheets/components/_summary-log.scss
Due: none

PAE-1541: Apply enhanced check page design feedback (#877)
  src/client/stylesheets/components/_summary-log.scss
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check-controller.js
  src/server/summary-log/enhanced-check.njk
  src/server/summary-log/types.js
Due: prettier --write, npm run lint:fix

Fix pre-existing type errors in upload test
  src/server/summary-log-upload/controller.test.js
Due: prettier --write, npm run lint:fix

Update file-checking page heading and lead copy
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

Add 'is' to confirmation waste balance copy
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

Align summary log upload page with new design
  src/server/common/components/summary-log-upload/macro.njk
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log-upload/en.json
  src/server/summary-log-upload/index.njk
Due: prettier --write, npm run lint:fix

Render upload intro as lead paragraph in inset
  src/server/summary-log-upload/index.njk
Due: none

Scope upload page content assertions to elements
  src/server/summary-log-upload/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1640: Align summary log upload flow with designs (#879)
  src/server/common/components/summary-log-upload/macro.njk
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log-upload/en.json
  src/server/summary-log-upload/index.njk
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

add overdue submission status tag styling and label
  src/server/common/constants/css-classes.js
  src/server/reports/constants.js
  src/server/reports/en.json
  src/server/reports/helpers/format-submission-status.js
  src/server/reports/helpers/format-submission-status.test.js
Due: prettier --write, npm run lint:fix

derive overdue status once due date has passed
  src/server/reports/helpers/derive-submission-status.js
  src/server/reports/helpers/derive-submission-status.test.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

add explicit ac2 regression for persisted status past due date
  src/server/reports/helpers/derive-submission-status.test.js
Due: prettier --write, npm run lint:fix

PAE-000: init service navigation js for mobile menu toggle
  src/client/javascripts/application.js
Due: prettier --write, npm run lint:fix

PAE-000: drop dead serviceUrl and useTudorCrown header params
  src/server/common/templates/layouts/page.njk
Due: none

simplify overdue derivation to iso date-string comparison
  src/server/reports/helpers/derive-submission-status.js
Due: prettier --write, npm run lint:fix

PAE-000: use v6 header blocks to restore header landmark
  src/server/common/templates/layouts/page.njk
Due: none

pass period object to deriveSubmissionStatus
  src/server/reports/helpers/derive-submission-status.js
  src/server/reports/helpers/derive-submission-status.test.js
  src/server/reports/list-controller.js
Due: prettier --write, npm run lint:fix

use localeCompare for iso date comparison (sonar s3003)
  src/server/reports/helpers/derive-submission-status.js
Due: prettier --write, npm run lint:fix

extract current-iso-date helper, type period as pick
  src/server/reports/helpers/derive-submission-status.js
  src/server/reports/helpers/derive-submission-status.test.js
Due: prettier --write, npm run lint:fix

PAE-000: keep beforeContent block so child back links render
  src/server/common/templates/layouts/page.njk
Due: none

PAE-000: move phase banner to header so it shows on every page
  src/server/common/templates/layouts/page.njk
  src/server/common/templates/layouts/phase-banner.test.js
Due: prettier --write, npm run lint:fix

PAE-000: scope submit status tag query to main, not header beta tag
  src/server/reports/submit-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1331: introduce overdue report status in the ui (#881)
  src/server/common/constants/css-classes.js
  src/server/reports/constants.js
  src/server/reports/en.json
  src/server/reports/helpers/derive-submission-status.js
  src/server/reports/helpers/derive-submission-status.test.js
  src/server/reports/helpers/format-submission-status.js
  src/server/reports/helpers/format-submission-status.test.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

Apply prettier and eslint fixes to test file
  src/server/summary-log/closed-period-changes.test.js
Due: prettier --write, npm run lint:fix

Add closed-period adjustment messaging
  src/config/config.js
  src/server/summary-log/closed-period-changes.js
  src/server/summary-log/closed-period-changes.test.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check-controller.js
  src/server/summary-log/enhanced-check.njk
  src/server/summary-log/success.njk
Due: prettier --write, npm run lint:fix

Add top margin to closed-period banner
  src/server/summary-log/enhanced-check.njk
Due: none

Fill closed-period banner to full width
  src/client/stylesheets/components/_summary-log.scss
  src/server/summary-log/enhanced-check.njk
Due: none

PAE-000: use caret node engine range for lts
  package-lock.json
  package.json
Due: prettier --write

PAE-1648: Show closed-period adjustment messaging in summary log upload flow (#894)
  src/client/stylesheets/components/_summary-log.scss
  src/config/config.js
  src/server/summary-log/closed-period-changes.js
  src/server/summary-log/closed-period-changes.test.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/enhanced-check-controller.js
  src/server/summary-log/enhanced-check.njk
  src/server/summary-log/success.njk
Due: prettier --write, npm run lint:fix

reports: consume backend periodStatus on reports list
  src/server/reports/helpers/derive-submission-status.js
  src/server/reports/helpers/derive-submission-status.test.js
  src/server/reports/helpers/fetch-reporting-periods.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-000: use caret node engine range for lts (#896)
  package-lock.json
  package.json
Due: prettier --write

PAE-1641: Remove orphaned translation keys from reports en.json
  src/server/reports/en.json
Due: prettier --write

PAE-1641: Update detail page caption, overview intro, CYA spacing and waste sent on intro text
  src/server/reports/check-your-answers.njk
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/detail.njk
  src/server/reports/en.json
Due: prettier --write, npm run lint:fix

PAE-1641: Update draft report created page heading and what happens next content
  src/server/reports/created-controller.js
  src/server/reports/created-controller.test.js
  src/server/reports/en.json
Due: prettier --write, npm run lint:fix

PAE-1641: Update reports list page with short date format, approved person banner, and UI text changes
  src/server/common/en.json
  src/server/common/helpers/format-date.js
  src/server/common/helpers/format-date.test.js
  src/server/reports/en.json
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
  src/server/reports/list.njk
Due: prettier --write, npm run lint:fix

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
