Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

PAE-1251: add test
  src/config/nunjucks/filters/format-tonnage.test.js
Due: prettier --write, npm run lint:fix

PAE-1237: Address sonar issue
  src/server/reports/created-controller.js
  src/server/reports/helpers/is-session-match.js
  src/server/reports/helpers/is-session-match.test.js
  src/server/reports/submitted-controller.js
Due: prettier --write, npm run lint:fix

PAE-1251: Show issued PRN tonnage in CYA report page (#680)
  src/config/nunjucks/filters/format-tonnage.js
  src/config/nunjucks/filters/format-tonnage.test.js
  src/config/nunjucks/filters/index.js
  src/server/reports/check-controller.js
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/en.json
Due: prettier --write, npm run lint:fix

PAE-1237: Address sonar issue
  sonar-project.properties
Due: none

Fix brace-expansion vulnerability
  package-lock.json
  package.json
Due: prettier --write

PAE-1237: Address review comments
  src/server/reports/en.json
  src/server/reports/submitted-controller.js
  src/server/reports/submitted.njk
Due: prettier --write, npm run lint:fix

fix: Fix brace-expansion vulnerability (#686)
  package-lock.json
  package.json
Due: prettier --write

PAE-1237: Add report submitted confirmation page with session guard (#682)
  sonar-project.properties
  src/server/reports/created-controller.js
  src/server/reports/en.json
  src/server/reports/helpers/is-session-match.js
  src/server/reports/helpers/is-session-match.test.js
  src/server/reports/index.js
  src/server/reports/submitted-controller.js
  src/server/reports/submitted-controller.test.js
  src/server/reports/submitted.njk
Due: prettier --write, npm run lint:fix

Prune stale npm override for @isaacs/brace-expansion
  package.json
Due: prettier --write

PAE-1238: Replace deleteFromBackend with fetchJsonFromBackend for DELETE requests
  src/server/common/helpers/delete-from-backend.js
  src/server/common/helpers/delete-from-backend.test.js
  src/server/common/helpers/fetch-json.js
  src/server/common/helpers/fetch-json.test.js
  src/server/reports/helpers/delete-report.js
  src/server/reports/helpers/delete-report.test.js
Due: prettier --write, npm run lint:fix

Prune stale @isaacs/brace-expansion override (#688)
  package.json
Due: prettier --write

add return
  src/server/common/helpers/fetch-json.js
Due: prettier --write, npm run lint:fix

Remove useragent Snyk ignores now that scooter 8 uses my-ua-parser
  .snyk
Due: none

PAE-1238: Add delete report confirmation flow (#679)
  src/server/common/helpers/fetch-json.js
  src/server/common/helpers/fetch-json.test.js
  src/server/reports/check-controller.js
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/confirm-delete.njk
  src/server/reports/delete-controller.js
  src/server/reports/delete-controller.test.js
  src/server/reports/en.json
  src/server/reports/helpers/delete-report.js
  src/server/reports/helpers/delete-report.test.js
  src/server/reports/index.js
  src/server/reports/supporting-information-controller.js
  src/server/reports/supporting-information-controller.test.js
  src/server/reports/supporting-information.njk
Due: prettier --write, npm run lint:fix

PAE-1237: Add submit report page with declaration and list CTA update
  src/server/reports/constants.js
  src/server/reports/create-controller.js
  src/server/reports/en.json
  src/server/reports/helpers/build-table-rows.js
  src/server/reports/helpers/format-submission-status.js
  src/server/reports/helpers/format-submission-status.test.js
  src/server/reports/index.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
  src/server/reports/submit-controller.js
  src/server/reports/submit-controller.test.js
  src/server/reports/submit.njk
Due: prettier --write, npm run lint:fix

PAE-1237: Address sonar issues
  src/server/reports/list-controller.js
  src/server/reports/submit-controller.js
Due: prettier --write, npm run lint:fix

Remove stale brace-expansion and tmp overrides
  package-lock.json
  package.json
Due: prettier --write

feat(reports): add PRN summary and free PERNs pages for accredited exporters
  src/server/reports/check-controller.js
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/create-controller.js
  src/server/reports/create-controller.test.js
  src/server/reports/en.json
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/free-perns-controller.test.js
  src/server/reports/exporter/free-perns.njk
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/exporter/prn-summary.njk
  src/server/reports/index.js
  src/server/reports/supporting-information-controller.test.js
Due: prettier --write, npm run lint:fix

Correct pound symbol
  src/server/reports/en.json
  src/server/reports/exporter/prn-summary.njk
Due: prettier --write

PAE-1237: Address review comments
  src/server/reports/helpers/format-tonnage-or-dash.js
  src/server/reports/submit-controller.js
  src/server/reports/submit-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1237: Add submit report page with declaration and list CTA update (#689)
  src/server/reports/constants.js
  src/server/reports/create-controller.js
  src/server/reports/en.json
  src/server/reports/helpers/build-table-rows.js
  src/server/reports/helpers/format-submission-status.js
  src/server/reports/helpers/format-submission-status.test.js
  src/server/reports/helpers/format-tonnage-or-dash.js
  src/server/reports/index.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
  src/server/reports/submit-controller.js
  src/server/reports/submit-controller.test.js
  src/server/reports/submit.njk
Due: prettier --write, npm run lint:fix

fix(reports): use correct prn field name issuedTonnage
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/free-perns-controller.test.js
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/exporter/prn-summary-controller.test.js
Due: prettier --write, npm run lint:fix

fix(reports): route Continue link to prn-summary for accredited exporters
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

refactor(reports): extract shared exporter page guards to reduce duplication
  src/server/reports/exporter/exporter-page-guards.js
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/prn-summary-controller.js
Due: prettier --write, npm run lint:fix

refactor(reports): extract buildExporterViewData and fix S1192 duplicate literal
  src/server/reports/exporter/exporter-page-guards.js
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/prn-summary-controller.js
Due: prettier --write, npm run lint:fix

test(reports): add explicit registered-only exporter test coverage
  src/server/reports/check-controller.test.js
  src/server/reports/create-controller.test.js
Due: prettier --write, npm run lint:fix

fix(reports): reduce buildExporterViewData params by reading from request
  src/server/reports/exporter/exporter-page-guards.js
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/prn-summary-controller.js
Due: prettier --write, npm run lint:fix

PAE-000: Remove stale brace-expansion and tmp overrides (#696)
  package-lock.json
  package.json
Due: prettier --write

PAE-1237: Align check-your-answers page with Figma design and fix submit page heading levels
  src/server/reports/check-controller.js
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/en.json
  src/server/reports/helpers/format-export-tonnages.js
  src/server/reports/submit-controller.js
  src/server/reports/submit.njk
Due: prettier --write, npm run lint:fix

refactor(reports): rename freePernTonnage to freeTonnage in free-perns controller
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/free-perns-controller.test.js
  src/server/reports/exporter/free-perns.njk
Due: prettier --write, npm run lint:fix

feat(reports): add reprocessor page guards and extract shared helpers
  src/server/reports/helpers/redirect.js
  src/server/reports/helpers/validation.js
  src/server/reports/reprocessor/reprocessor-page-guards.js
  src/server/reports/reprocessor/reprocessor-page-guards.test.js
Due: prettier --write, npm run lint:fix

PAE-1237: Align check-your-answers page with Figma design and fix submit page heading levels (#698)
  src/server/reports/check-controller.js
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/en.json
  src/server/reports/helpers/format-export-tonnages.js
  src/server/reports/submit-controller.js
  src/server/reports/submit.njk
Due: prettier --write, npm run lint:fix

feat(reports): add reprocessor data entry pages and prn-summary dispatcher
  src/server/reports/en.json
  src/server/reports/index.js
  src/server/reports/prn-summary-dispatcher.js
  src/server/reports/prn-summary-dispatcher.test.js
  src/server/reports/reprocessor/free-prns-controller.js
  src/server/reports/reprocessor/free-prns-controller.test.js
  src/server/reports/reprocessor/free-prns.njk
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/reprocessor/prn-summary-controller.test.js
  src/server/reports/reprocessor/prn-summary.njk
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-not-recycled.njk
  src/server/reports/reprocessor/tonnes-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled.njk
Due: prettier --write, npm run lint:fix

feat(reports): add CYA recycling activity section and update navigation for reprocessors
  src/server/reports/check-controller.js
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/en.json
  src/server/reports/submit-controller.js
  src/server/reports/supporting-information-controller.js
  src/server/reports/supporting-information-controller.test.js
Due: prettier --write, npm run lint:fix

test(reports): add CYA test coverage for registered-only reprocessor
  src/server/reports/check-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1273: extract controller factory and shared templates to fix SonarQube duplication
  src/server/reports/exporter/exporter-page-guards.js
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/free-perns.njk
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/exporter/prn-summary.njk
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/prn-summary.njk
  src/server/reports/reprocessor/free-prns-controller.js
  src/server/reports/reprocessor/free-prns.njk
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/reprocessor/prn-summary.njk
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
  src/server/reports/tonnage-input.njk
Due: prettier --write, npm run lint:fix

PAE-1273: fix JSDoc lint warnings for CI
  src/server/reports/check-controller.js
  src/server/reports/helpers/create-data-page-controllers.js
Due: prettier --write, npm run lint:fix

PAE-1273: absorb buildViewData and simple POST handler into controller factory
  src/server/reports/create-controller.js
  src/server/reports/create-controller.test.js
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/exporter/prn-summary-controller.js
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/reprocessor/free-prns-controller.js
  src/server/reports/reprocessor/prn-summary-controller.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.js
  src/server/reports/reprocessor/tonnes-recycled-controller.js
Due: prettier --write, npm run lint:fix

PAE-1273: extract tonnage validation post handler into factory
  src/server/reports/exporter/free-perns-controller.js
  src/server/reports/helpers/create-data-page-controllers.js
  src/server/reports/reprocessor/free-prns-controller.js
Due: prettier --write, npm run lint:fix

PAE-1273: navigate reprocessor continue to tonnes-recycled
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
