Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "src/**/*.js": ["npm run lint:fix"]
}

add accred ids back to url
  src/server/common/helpers/waste-balance/fetch-waste-balances.js
  src/server/common/helpers/waste-balance/fetch-waste-balances.test.js
  src/server/organisations/controller.js
Due: prettier --write, npm run lint:fix

comma seperate accred ids
  src/server/common/helpers/waste-balance/fetch-waste-balances.js
  src/server/common/helpers/waste-balance/fetch-waste-balances.test.js
Due: prettier --write, npm run lint:fix

update min decimal places
  src/config/nunjucks/filters/format-tonnage.js
  src/config/nunjucks/filters/format-tonnage.test.js
Due: prettier --write, npm run lint:fix

display 0.00 for null waste balance
  src/config/nunjucks/filters/format-tonnage.js
  src/config/nunjucks/filters/format-tonnage.test.js
  src/server/organisations/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-000: Remove unused state from session (#368)
  src/server/account/email-not-recognised/controller.test.js
  src/server/account/linking/controller.test.js
  src/server/auth/helpers/build-session.js
  src/server/auth/helpers/display.js
  src/server/auth/helpers/display.test.js
  src/server/auth/helpers/session-cookie.test.js
  src/server/auth/plugins/defra-id.test.js
  src/server/auth/types/session.js
  src/server/home/controller.test.js
  src/server/logged-out/controller.test.js
  src/server/organisations/controller.test.js
  src/server/registrations/controller.test.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/submit-controller.test.js
Due: prettier --write, npm run lint:fix

test waster balance column header
  src/server/organisations/controller.test.js
Due: prettier --write, npm run lint:fix

test tracing header
  src/server/common/helpers/waste-balance/fetch-waste-balances.test.js
Due: prettier --write, npm run lint:fix

refactor orgs controller
  src/server/organisations/controller.js
Due: prettier --write, npm run lint:fix

function cleanup
  src/server/organisations/controller.js
Due: prettier --write, npm run lint:fix

PAE-895: Waste balance on account home (#366)
  src/config/nunjucks/filters/format-tonnage.js
  src/config/nunjucks/filters/format-tonnage.test.js
  src/config/nunjucks/filters/index.js
  src/server/common/helpers/waste-balance/fetch-waste-balances.js
  src/server/common/helpers/waste-balance/fetch-waste-balances.test.js
  src/server/common/helpers/waste-balance/types.js
  src/server/organisations/controller.js
  src/server/organisations/controller.test.js
  src/server/organisations/en.json
Due: prettier --write, npm run lint:fix

PAE-711: Add waste balance display to summary log confirmation screen
  src/server/common/helpers/organisations/get-registration-with-accreditation.js
  src/server/common/helpers/organisations/get-registration-with-accreditation.test.js
  src/server/common/helpers/waste-balance/fetch-waste-balances.test.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/success.njk
Due: prettier --write, npm run lint:fix

PAE-711: Fix SONAR issue
  src/server/common/helpers/waste-balance/fetch-waste-balances.test.js
  src/server/common/helpers/waste-balance/types.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

fetch waste balance
  src/server/registrations/controller.js
Due: prettier --write, npm run lint:fix

render different view on waste balance
  src/server/registrations/index.njk
Due: none

add new translations
  src/server/registrations/en.json
Due: prettier --write

test waste balance
  src/server/registrations/controller.test.js
Due: prettier --write, npm run lint:fix

update colours
  src/client/stylesheets/components/_registrations.scss
Due: none

PAE-711: Add waste balance display to summary log confirmation screen (#369)
  src/server/common/helpers/organisations/get-registration-with-accreditation.js
  src/server/common/helpers/organisations/get-registration-with-accreditation.test.js
  src/server/common/helpers/waste-balance/types.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
  src/server/summary-log/success.njk
Due: prettier --write, npm run lint:fix

use format tonnage njk formatter
  src/server/registrations/controller.js
  src/server/registrations/index.njk
Due: prettier --write, npm run lint:fix

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

PAE-896: Waste balance on registration dashboard (#371)
  src/client/stylesheets/components/_registrations.scss
  src/server/registrations/controller.js
  src/server/registrations/controller.test.js
  src/server/registrations/en.json
  src/server/registrations/index.njk
Due: prettier --write, npm run lint:fix

adds FF config
  src/config/config.js
Due: prettier --write, npm run lint:fix

organisation controller: FF for waste-balance
  src/server/organisations/controller.js
  src/server/organisations/controller.test.js
Due: prettier --write, npm run lint:fix

summary-log controller: FF for waste-balance
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

registration-summary: FF for waste-balance
  src/server/registrations/controller.js
  src/server/registrations/controller.test.js
  src/server/registrations/index.njk
Due: prettier --write, npm run lint:fix

fix format
  src/server/registrations/controller.test.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

Security upgrade lodash-es from 4.17.22 to 4.17.23
  package-lock.json
  package.json
Due: prettier --write

fix coverage
  src/server/organisations/controller.test.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

monitor njk files in watch mode
  nodemon.json
Due: prettier --write

Security upgrade lodash-es from 4.17.22 to 4.17.23 (#377)
  package-lock.json
  package.json
Due: prettier --write

PAE-913: Return 404 when registration not found on summary log upload page
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/controller.test.js
Due: prettier --write, npm run lint:fix

add back not available view when FF is off
  src/server/registrations/controller.js
  src/server/registrations/index.njk
Due: prettier --write, npm run lint:fix

show unavailable when FF is off
  src/server/registrations/index.njk
Due: none

fix sonar
  src/server/organisations/controller.js
  src/server/registrations/controller.js
Due: prettier --write, npm run lint:fix

correct tests to test 0.00 when no waste balance and FF is on
  src/server/registrations/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-936: Waste balance feature flag (#375)
  nodemon.json
  src/config/config.js
  src/server/organisations/controller.js
  src/server/organisations/controller.test.js
  src/server/registrations/controller.js
  src/server/registrations/controller.test.js
  src/server/registrations/index.njk
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-925: Minor correction to copy
  src/server/prns/controller.test.js
  src/server/prns/create.njk
  src/server/prns/en.json
  src/server/prns/view-data.js
  src/server/prns/view-data.test.js
Due: prettier --write, npm run lint:fix

PAE-925: Add create PRN/PERN page with feature flag protection
  src/server/paths.js
  src/server/prns/controller.js
  src/server/prns/controller.test.js
  src/server/prns/create.njk
  src/server/prns/en.json
  src/server/prns/index.js
  src/server/prns/view-data.js
  src/server/prns/view-data.test.js
  src/server/registrations/controller.js
  src/server/registrations/controller.test.js
  src/server/router.js
Due: prettier --write, npm run lint:fix

PAE-925: Address review comments
  src/server/prns/controller.test.js
  src/server/prns/view-data.js
  src/server/router.js
Due: prettier --write, npm run lint:fix

PAE-925: Add create PRN/PERN page with feature flag protection (#386)
  src/server/paths.js
  src/server/prns/controller.js
  src/server/prns/controller.test.js
  src/server/prns/create.njk
  src/server/prns/en.json
  src/server/prns/index.js
  src/server/prns/view-data.js
  src/server/prns/view-data.test.js
  src/server/registrations/controller.js
  src/server/registrations/controller.test.js
  src/server/router.js
Due: prettier --write, npm run lint:fix
