Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "src/**/*.js": ["npm run lint:fix"]
}

Fix i18n key ordering in JSON files
  src/server/summary-log-upload/cy.json
  src/server/summary-log-upload/en.json
Due: prettier --write

PAE-552: Add prettier-plugin-sort-json for i18n files
  .prettierrc.js
  package-lock.json
  package.json
  src/server/account/cy.json
  src/server/account/en.json
  src/server/summary-log/en.json
Due: prettier --write

Restore curly apostrophes in en.json
  src/server/summary-log-upload/en.json
Due: prettier --write

PAE-552: Only sort top-level keys in i18n files
  .prettierrc.js
  src/server/account/cy.json
  src/server/account/en.json
Due: prettier --write

PAE-707: Fixes summary log validation state conflict issue (#251)
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

feat(summary-log): display superseded state when log replaced by newer upload (#248)
  src/server/common/constants/statuses.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/cy.json
  src/server/summary-log/en.json
  src/server/summary-log/superseded.njk
Due: prettier --write, npm run lint:fix

PAE-656: Implement check before submit screen changes
  src/server/summary-log/check.njk
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

PAE-656: Add blank Welsh translations for new i18n keys
  src/server/summary-log/cy.json
Due: prettier --write

PAE-656: Add threshold logic for adjusted excluded loads
  src/server/summary-log/check.njk
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

PAE-656: Add test for adjusted excluded loads <=99 threshold
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-656: Add Show X loads for adjusted included loads
  src/server/summary-log/check.njk
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-656: Add Welsh translation for adjustmentsNotReflected
  src/server/summary-log/cy.json
Due: prettier --write

Add return to home link on check before submit page
  src/server/summary-log/check.njk
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

Show 'There are no adjusted loads' message when count is zero
  src/server/summary-log/check.njk
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

PAE-552: Handle 409 conflict when upload blocked (#255)
  src/server/common/constants/status-codes.js
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log-upload/cy.json
  src/server/summary-log-upload/en.json
Due: prettier --write, npm run lint:fix

Remove row ID display from new included loads section
  src/server/summary-log/check.njk
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

Refactor: Remove accordion pattern from new loads section
  src/server/summary-log/check.njk
Due: none

PAE-552: Add prettier-plugin-sort-json for i18n files (#256)
  .prettierrc.js
  package-lock.json
  package.json
  src/server/account/cy.json
  src/server/account/en.json
  src/server/summary-log/en.json
Due: prettier --write

Add missing Welsh translation keys for parity with en.json
  src/server/summary-log/cy.json
Due: prettier --write

PAE-656: Add warning inset text with upload and home links
  src/server/summary-log/check.njk
  src/server/summary-log/controller.test.js
  src/server/summary-log/cy.json
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

PAE-656: Remove standalone return-to-home link
  src/server/summary-log/check.njk
  src/server/summary-log/controller.test.js
  src/server/summary-log/cy.json
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

PAE-656: Remove bottom re-upload link from check page
  src/server/summary-log/check.njk
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

fix(summary-log): extract magic numbers to named constants
  src/server/summary-log/controller.js
Due: prettier --write, npm run lint:fix

refactor(summary-log): use map for waste record section numbers
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

refactor(summary-log): extract row ID list into reusable macro
  src/server/common/components/row-id-list/macro.njk
  src/server/summary-log/check.njk
Due: none

refactor(summary-log): preserve load data structure in view model
  src/server/common/components/row-id-list/macro.njk
  src/server/summary-log/check.njk
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

refactor(summary-log): rename EMPTY_LOAD_DATA to NO_ROWS
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

fix(i18n): add missing loadsNotAddedExplanation key to Welsh translations
  src/server/summary-log/cy.json
Due: prettier --write

refactor(tests): fix ESLint warnings in summary-log controller tests
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

fix(test): disable parallel execution to prevent race conditions
  vitest.config.js
Due: prettier --write

chore: fix JSON formatting in i18n files
  src/server/summary-log-upload/cy.json
  src/server/summary-log-upload/en.json
  src/server/summary-log/cy.json
  src/server/summary-log/en.json
Due: prettier --write

fix(test): add setup file to clear environment variables
  src/test-setup.js
  vitest.config.js
Due: prettier --write, npm run lint:fix

fix: isolate tests from DEFRA_ID_OIDC_CONFIGURATION_URL environment variable
  .vite/setup-files.js
  src/server/summary-log-upload/cy.json
  src/server/summary-log-upload/en.json
  src/server/summary-log/cy.json
  src/server/summary-log/en.json
  tsconfig.json
  vitest.config.js
Due: prettier --write

fix: isolate tests from DEFRA_ID_OIDC_CONFIGURATION_URL environment variable (#262)
  .vite/setup-files.js
  src/server/summary-log-upload/cy.json
  src/server/summary-log-upload/en.json
  src/server/summary-log/cy.json
  src/server/summary-log/en.json
  tsconfig.json
  vitest.config.js
Due: prettier --write

refactor(auth): centralize token handling in fetchJsonFromBackend
  src/server/account/linking/helpers/link-organisation.js
  src/server/account/linking/helpers/link-organisation.test.js
  src/server/account/linking/post-controller.js
  src/server/account/linking/post-controller.test.js
  src/server/account/linking/prerequisites/provide-user-organisations.js
  src/server/account/linking/prerequisites/provide-user-organisations.test.js
  src/server/auth/callback/controller.js
  src/server/auth/callback/controller.test.js
  src/server/auth/helpers/fetch-user-organisations.js
  src/server/auth/helpers/fetch-user-organisations.test.js
  src/server/common/helpers/fetch-json-from-backend.js
  src/server/common/helpers/fetch-json-from-backend.test.js
  src/server/common/helpers/summary-log/submit-summary-log.js
  src/server/common/helpers/summary-log/submit-summary-log.test.js
  src/server/common/helpers/upload/fetch-summary-log-status.js
  src/server/common/helpers/upload/fetch-summary-log-status.test.js
  src/server/common/helpers/upload/initiate-summary-log-upload.js
  src/server/common/helpers/upload/initiate-summary-log-upload.test.js
  src/server/summary-log-upload/controller.js
  src/server/summary-log/controller.js
  src/server/summary-log/submit-controller.js
Due: prettier --write, npm run lint:fix

fix(test): update initiateSummaryLogUpload mock to match new signature
  src/server/summary-log-upload/controller.test.js
Due: prettier --write, npm run lint:fix

fix(test): update summary-log controller test for new initiateSummaryLogUpload signature
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

fix: add Authorization headers to summary log backend API calls
  src/server/common/helpers/summary-log/submit-summary-log.js
  src/server/common/helpers/summary-log/submit-summary-log.test.js
  src/server/common/helpers/upload/fetch-summary-log-status.js
  src/server/common/helpers/upload/fetch-summary-log-status.test.js
  src/server/common/helpers/upload/initiate-summary-log-upload.js
  src/server/common/helpers/upload/initiate-summary-log-upload.test.js
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/submit-controller.js
  src/server/summary-log/submit-controller.test.js
Due: prettier --write, npm run lint:fix

test(summary-log): add session validation tests to achieve 100% coverage
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/submit-controller.test.js
Due: prettier --write, npm run lint:fix
