Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "src/**/*.js": ["npm run lint:fix"]
}

PAE-1037: Minor correction to button colour
  src/server/lprns/issued-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1037: Minor correction to button colour
  src/server/lprns/issued-controller.test.js
  src/server/lprns/issued.njk
Due: prettier --write, npm run lint:fix

PAE-1037: Fix issued PRN/PERN confirmation button text (#481)
  src/server/lprns/en.json
  src/server/lprns/issued-controller.test.js
  src/server/lprns/issued.njk
Due: prettier --write, npm run lint:fix

PAE-1028: Replace placeholder regulator logos with real SVGs
  src/client/images/logo-environment-agency.svg
  src/client/images/logo-niea.svg
  src/client/images/logo-nrw.svg
  src/client/images/logo-sepa.svg
  src/client/stylesheets/components/_lprns.scss
  src/client/stylesheets/core/_print.scss
  src/server/lprns/view.njk
  webpack.config.js
Due: prettier --write

PAE-1028: Expand SEPA and NIEA abbreviations in alt text
  src/server/lprns/view.njk
Due: none

PAE-1039: Rename recipient label from 'Buyer' to 'Packaging waste producer or compliance scheme' (#482)
  src/server/lprns/action-controller.test.js
  src/server/lprns/helpers/build-prn-detail-rows.js
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1033: Correcting status colours
  src/server/lprns/helpers/get-status-config.js
  src/server/lprns/helpers/get-status-config.test.js
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1033: Fix missing PRN number, correct status tag colours per Figma spec
  src/server/lprns/action-controller.js
  src/server/lprns/action-controller.test.js
  src/server/lprns/en.json
  src/server/lprns/helpers/get-status-config.js
  src/server/lprns/helpers/get-status-config.test.js
  src/server/lprns/view-controller.js
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-000: suppress logs for static assets
  src/server/common/helpers/logging/logger-options.js
  src/server/common/helpers/serve-static-files.js
Due: prettier --write, npm run lint:fix

fix inline error message
  src/server/lprns/en.json
  src/server/lprns/post-controller.js
  src/server/lprns/post-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1028: Replace placeholder regulator logos with real SVGs (#485)
  src/client/images/logo-environment-agency.svg
  src/client/images/logo-niea.svg
  src/client/images/logo-nrw.svg
  src/client/images/logo-sepa.svg
  src/client/stylesheets/components/_lprns.scss
  src/client/stylesheets/core/_print.scss
  src/server/lprns/view.njk
  webpack.config.js
Due: prettier --write

PAE-1033: Fix missing PRN number, correct status tag colours (#484)
  src/server/lprns/action-controller.js
  src/server/lprns/action-controller.test.js
  src/server/lprns/en.json
  src/server/lprns/helpers/get-status-config.js
  src/server/lprns/helpers/get-status-config.test.js
  src/server/lprns/view-controller.js
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

Fix regulator logo layout on certificate page
  src/client/images/logo-niea.svg
  src/client/stylesheets/components/_lprns.scss
Due: none

Fix regulator logo layout on certificate page (#488)
  src/client/images/logo-niea.svg
  src/client/stylesheets/components/_lprns.scss
Due: none

fix issuer data
  src/server/lprns/action-controller.js
  src/server/lprns/action-controller.test.js
  src/server/lprns/helpers/build-prn-detail-rows.js
  src/server/lprns/view-controller.js
Due: prettier --write, npm run lint:fix

add some types
  src/server/common/helpers/organisations/fetch-registration-and-accreditation.js
  src/server/lprns/action-controller.js
  src/server/lprns/action-controller.test.js
  src/server/lprns/view-controller.js
Due: prettier --write, npm run lint:fix

Rename authorisedBy to issuedBy on PRN view page
  src/server/lprns/action-controller.test.js
  src/server/lprns/en.json
  src/server/lprns/helpers/build-prn-detail-rows.js
  src/server/lprns/helpers/fetch-packaging-recycling-note.js
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1041: Display PRN/PERN number on created confirmation page
  src/server/lprns/created-controller.test.js
  src/server/lprns/created.njk
  src/server/lprns/view-controller.js
Due: prettier --write, npm run lint:fix

Remove duplicate 'Issued by' row showing org name
  src/server/lprns/helpers/build-prn-detail-rows.js
Due: prettier --write, npm run lint:fix

Always show issuer row on all PRN pages
  src/server/lprns/action-controller.js
  src/server/lprns/helpers/build-prn-detail-rows.js
  src/server/lprns/view-controller.js
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

Reduce regulator logo height to fit one row
  src/client/stylesheets/components/_lprns.scss
Due: none

PAE-1044: issuer / issued / issued-by fun with prns (#489)
  src/server/common/helpers/organisations/fetch-registration-and-accreditation.js
  src/server/lprns/action-controller.js
  src/server/lprns/action-controller.test.js
  src/server/lprns/en.json
  src/server/lprns/helpers/build-prn-detail-rows.js
  src/server/lprns/post-controller.js
  src/server/lprns/post-controller.test.js
  src/server/lprns/view-controller.js
Due: prettier --write, npm run lint:fix

PAE-1045: Rename authorisedBy to issuedBy on PRN view (#490)
  src/server/lprns/action-controller.js
  src/server/lprns/action-controller.test.js
  src/server/lprns/en.json
  src/server/lprns/helpers/build-prn-detail-rows.js
  src/server/lprns/helpers/fetch-packaging-recycling-note.js
  src/server/lprns/view-controller.js
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

Reduce regulator logo height to fit one row (#492)
  src/client/stylesheets/components/_lprns.scss
Due: none

PAE-1003: Remove hardcoded status colour from list view and use correct colour for corresponding PRN status
  src/server/lprns/list-view-data.js
  src/server/lprns/list-view-data.test.js
Due: prettier --write, npm run lint:fix

PAE-926: add fetch-json helper (#472)
  src/server/common/helpers/fetch-json-from-backend.js
  src/server/common/helpers/fetch-json-from-backend.test.js
  src/server/common/helpers/fetch-json.js
  src/server/common/helpers/fetch-json.test.js
  src/server/common/helpers/waste-organisations/api-adapter.js
Due: prettier --write, npm run lint:fix

PAE-000: run tests on matching journey test branch
  .github/workflows/check-pull-request.yml
Due: none

run tests & journey tests in parallel
  .github/workflows/check-pull-request.yml
Due: none

remove docker build step as journey tests do this too
  .github/workflows/check-pull-request.yml
Due: none

add unit test summary
  .github/actions/test-and-scan/action.yml
  .github/workflows/check-pull-request.yml
  vitest.config.js
Due: prettier --write

re-enabled parallelism on ci
  vitest.config.js
Due: prettier --write

use docker build cache to speed-up repeat pr pushes
  .github/workflows/check-pull-request.yml
Due: none

revert back to bare docker build
  .github/workflows/check-pull-request.yml
Due: none

use branch version of action (doh!)
  .github/workflows/check-pull-request.yml
Due: none
