Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

use shared journey-test-summary action
  .github/workflows/check-pull-request.yml
Due: none

Bump the dev group with 7 updates
  package-lock.json
  package.json
Due: prettier --write

grant pull-requests write for journey summary comment
  .github/workflows/check-pull-request.yml
Due: none

test: use buildMockAuth in organisations error-controller
  src/server/organisations/error-controller.test.js
Due: prettier --write, npm run lint:fix

Fix URLSearchParams type error after @types/node bump to 26.1.0
  src/server/common/helpers/waste-organisations/api-adapter.js
Due: prettier --write, npm run lint:fix

point journey-test-summary action at main
  .github/workflows/check-pull-request.yml
Due: none

PAE-1305: use shared journey-test-summary action (#929)
  .github/workflows/check-pull-request.yml
Due: none

test: adopt buildMockAuth for inject auth in controller tests
  src/server/account/email-not-recognised/controller.test.js
  src/server/account/linking/controller.test.js
  src/server/home/controller.test.js
  src/server/logged-out/controller.test.js
  src/server/logout/get-controller.test.js
  src/server/prns/action-controller.test.js
  src/server/prns/cancel-controller.test.js
  src/server/prns/cancelled-controller.test.js
  src/server/prns/controller.test.js
  src/server/prns/created-controller.test.js
  src/server/prns/delete-controller.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/issue-controller.test.js
  src/server/prns/issued-controller.test.js
  src/server/prns/list-controller.test.js
  src/server/prns/view-controller.test.js
  src/server/registrations/controller.test.js
  src/server/reports/check-controller.test.js
  src/server/reports/create-controller.test.js
  src/server/reports/delete-controller.test.js
  src/server/reports/detail-controller.test.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/exporter/tonnes-not-exported-controller.test.js
  src/server/reports/helpers/create-free-tonnage-controllers.test.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/prn-summary-dispatcher.test.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/submitted-controller.test.js
  src/server/summary-log/submit-controller.test.js
Due: prettier --write, npm run lint:fix

reports: drop coarse empty-exporter table-count test
  src/server/reports/detail-controller.test.js
Due: prettier --write, npm run lint:fix

reports: unify view onto shared waste-exported view data
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
Due: prettier --write, npm run lint:fix

reports: align check prn gating with submit and view
  src/server/reports/check-controller.js
  src/server/reports/check-your-answers.njk
Due: prettier --write, npm run lint:fix

test: typed org/registration fixture helper and sweep
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.test.js
  src/server/common/test-helpers/organisation-fixtures.js
  src/server/prns/action-controller.test.js
  src/server/prns/cancel-controller.test.js
  src/server/prns/cancelled-controller.test.js
  src/server/prns/controller.test.js
  src/server/prns/created-controller.test.js
  src/server/prns/delete-controller.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/issue-controller.test.js
  src/server/prns/issued-controller.test.js
  src/server/prns/list-controller.test.js
  src/server/prns/view-controller.test.js
  src/server/registrations/controller.test.js
  src/server/reports/check-controller.test.js
  src/server/reports/create-controller.test.js
  src/server/reports/delete-controller.test.js
  src/server/reports/detail-controller.test.js
  src/server/reports/exporter/exporter-page-guards.test.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/exporter/tonnes-not-exported-controller.test.js
  src/server/reports/helpers/create-free-tonnage-controllers.test.js
  src/server/reports/helpers/create-page-guards.test.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/prn-summary-dispatcher.test.js
  src/server/reports/reprocessor/reprocessor-page-guards.test.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/submitted-controller.test.js
Due: prettier --write, npm run lint:fix

test: typed PRN and report-detail fixture cast helpers
  src/server/common/test-helpers/prn-fixtures.js
  src/server/common/test-helpers/report-fixtures.js
  src/server/prns/action-controller.test.js
  src/server/prns/cancel-controller.test.js
  src/server/prns/cancelled-controller.test.js
  src/server/prns/created-controller.test.js
  src/server/prns/delete-controller.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/issue-controller.test.js
  src/server/prns/issued-controller.test.js
  src/server/prns/list-controller.test.js
  src/server/prns/view-controller.test.js
  src/server/reports/create-controller.test.js
  src/server/reports/detail-controller.test.js
  src/server/reports/exporter/exporter-page-guards.test.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/exporter/tonnes-not-exported-controller.test.js
  src/server/reports/helpers/create-free-tonnage-controllers.test.js
  src/server/reports/helpers/create-page-guards.test.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/prn-summary-dispatcher.test.js
  src/server/reports/reprocessor/reprocessor-page-guards.test.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/submitted-controller.test.js
  src/server/reports/view-controller.test.js
Due: prettier --write, npm run lint:fix

test: adopt asHtml and createMockLogger casts in tests
  src/config/nunjucks/context/context.test.js
  src/server/account/email-not-recognised/controller.test.js
  src/server/auth/helpers/refresh-token.test.js
  src/server/auth/plugins/defra-id.test.js
  src/server/common/helpers/i18next.test.js
  src/server/common/helpers/metrics/index.test.js
  src/server/common/helpers/redis-client.test.js
  src/server/common/helpers/session-cache/cache-engine.test.js
  src/server/common/helpers/start-server.test.js
  src/server/common/helpers/waste-balance/get-waste-balance.test.js
  src/server/common/templates/layouts/footer.test.js
  src/server/common/test-helpers/dom.js
  src/server/contact/controller.test.js
  src/server/cookies/controller.test.js
  src/server/home/controller.test.js
  src/server/logged-out/controller.test.js
  src/server/registrations/controller.test.js
Due: prettier --write, npm run lint:fix

test: asRequest/asHapiRequest casts for request-typed mocks
  src/config/nunjucks/context/build-navigation.test.js
  src/server/account/linking/view-data.test.js
  src/server/auth/callback/controller.test.js
  src/server/auth/helpers/drop-user-session.test.js
  src/server/auth/helpers/get-user-session.test.js
  src/server/auth/helpers/refresh-token.test.js
  src/server/auth/helpers/user-session.test.js
  src/server/auth/organisation/controller.test.js
  src/server/common/helpers/errors.test.js
  src/server/common/helpers/i18next.test.js
  src/server/common/test-helpers/request-fixtures.js
  src/server/logout/controller.test.js
  src/server/prns/view-data.test.js
Due: prettier --write, npm run lint:fix

test: rename test helper to mockHapiRequest and dedupe asOrganisation
  src/config/nunjucks/context/build-navigation.test.js
  src/server/account/linking/view-data.test.js
  src/server/auth/callback/controller.test.js
  src/server/auth/helpers/drop-user-session.test.js
  src/server/auth/helpers/get-user-session.test.js
  src/server/auth/helpers/refresh-token.test.js
  src/server/auth/helpers/user-session.test.js
  src/server/auth/organisation/controller.test.js
  src/server/common/helpers/i18next.test.js
  src/server/common/test-helpers/request-fixtures.js
  src/server/logout/controller.test.js
  src/server/organisations/controller.test.js
  src/server/prns/view-data.test.js
Due: prettier --write, npm run lint:fix

test: simplify repeated casts and msw capture idiom
  src/server/auth/helpers/refresh-token.test.js
  src/server/common/helpers/fetch-json.test.js
  src/server/common/helpers/materials/get-display-material.test.js
  src/server/common/helpers/upload/initiate-summary-log-upload.test.js
  src/server/common/helpers/waste-balance/fetch-waste-balances.test.js
  src/server/common/helpers/waste-organisations/map-to-select-options.test.js
  src/server/prns/helpers/fetch-packaging-recycling-note.test.js
  src/server/prns/helpers/fetch-packaging-recycling-notes.test.js
  src/server/prns/view-data.test.js
Due: prettier --write, npm run lint:fix

PAE-1305: reduce /reports view duplication (#923)
  src/client/stylesheets/components/_index.scss
  src/client/stylesheets/components/_reports.scss
  src/config/nunjucks/filters/format-date.js
  src/config/nunjucks/filters/format-date.test.js
  src/config/nunjucks/filters/format-tonnage.js
  src/config/nunjucks/filters/format-tonnage.test.js
  src/config/nunjucks/filters/index.js
  src/server/common/components/prn-summary/macro.njk
  src/server/common/components/report-section/macro.njk
  src/server/common/components/supporting-info-summary/macro.njk
  src/server/common/components/tonnage-breakdown/macro.njk
  src/server/common/helpers/format-currency.js
  src/server/common/helpers/format-currency.test.js
  src/server/reports/check-controller.js
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/detail.njk
  src/server/reports/en.json
  src/server/reports/helpers/build-report-view-data.js
  src/server/reports/helpers/build-report-view-data.test.js
  src/server/reports/helpers/dash-formatters.js
  src/server/reports/helpers/format-export-tonnages.js
  src/server/reports/helpers/format-or-dash.js
  src/server/reports/helpers/format-or-dash.test.js
  src/server/reports/helpers/format-tonnage-or-dash.js
  src/server/reports/submit-controller.js
  src/server/reports/submit-controller.test.js
  src/server/reports/submit.njk
  src/server/reports/view-controller.js
  src/server/reports/view-controller.test.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

test: address review feedback (asHtml assert, prod request cast)
  src/server/common/helpers/i18next.test.js
  src/server/common/helpers/secure-context/secure-context.test.js
  src/server/common/test-helpers/dom.js
  src/server/reports/detail-controller.test.js
Due: prettier --write, npm run lint:fix

test: cast prn fixtures at definition; note start-server logger tdz
  src/server/common/helpers/start-server.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/view-controller.test.js
Due: prettier --write, npm run lint:fix

test: add assertUserSession and document fixture cast helpers
  src/server/auth/helpers/session-cookie.test.js
  src/server/common/test-helpers/auth-helper.js
  src/server/common/test-helpers/organisation-fixtures.js
Due: prettier --write, npm run lint:fix

test: rename required-registration fixture cast helper
  src/server/common/test-helpers/organisation-fixtures.js
  src/server/prns/action-controller.test.js
  src/server/prns/cancel-controller.test.js
  src/server/prns/cancelled-controller.test.js
  src/server/prns/controller.test.js
  src/server/prns/created-controller.test.js
  src/server/prns/delete-controller.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/issue-controller.test.js
  src/server/prns/issued-controller.test.js
  src/server/prns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: [1/5] crush test type errors — auth builder adoption (#930)
  src/server/account/email-not-recognised/controller.test.js
  src/server/account/linking/controller.test.js
  src/server/home/controller.test.js
  src/server/logged-out/controller.test.js
  src/server/logout/get-controller.test.js
  src/server/organisations/error-controller.test.js
  src/server/prns/action-controller.test.js
  src/server/prns/cancel-controller.test.js
  src/server/prns/cancelled-controller.test.js
  src/server/prns/controller.test.js
  src/server/prns/created-controller.test.js
  src/server/prns/delete-controller.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/issue-controller.test.js
  src/server/prns/issued-controller.test.js
  src/server/prns/list-controller.test.js
  src/server/prns/view-controller.test.js
  src/server/registrations/controller.test.js
  src/server/reports/create-controller.test.js
  src/server/reports/delete-controller.test.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/exporter/tonnes-not-exported-controller.test.js
  src/server/reports/helpers/create-free-tonnage-controllers.test.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/prn-summary-dispatcher.test.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/submitted-controller.test.js
  src/server/summary-log/submit-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: [2/5] crush test type errors — org/registration fixture builders (#931)
  src/server/common/helpers/organisations/get-required-registration-with-accreditation.test.js
  src/server/common/test-helpers/organisation-fixtures.js
  src/server/prns/action-controller.test.js
  src/server/prns/cancel-controller.test.js
  src/server/prns/cancelled-controller.test.js
  src/server/prns/controller.test.js
  src/server/prns/created-controller.test.js
  src/server/prns/delete-controller.test.js
  src/server/prns/discard-controller.test.js
  src/server/prns/issue-controller.test.js
  src/server/prns/issued-controller.test.js
  src/server/prns/list-controller.test.js
  src/server/prns/view-controller.test.js
  src/server/registrations/controller.test.js
  src/server/reports/create-controller.test.js
  src/server/reports/delete-controller.test.js
  src/server/reports/exporter/exporter-page-guards.test.js
  src/server/reports/exporter/prn-summary-controller.test.js
  src/server/reports/exporter/tonnes-not-exported-controller.test.js
  src/server/reports/helpers/create-free-tonnage-controllers.test.js
  src/server/reports/helpers/create-page-guards.test.js
  src/server/reports/helpers/create-prn-summary-controllers.test.js
  src/server/reports/prn-summary-dispatcher.test.js
  src/server/reports/reprocessor/reprocessor-page-guards.test.js
  src/server/reports/reprocessor/tonnes-not-recycled-controller.test.js
  src/server/reports/reprocessor/tonnes-recycled-controller.test.js
  src/server/reports/submitted-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: [4/5] crush test type errors — mock-request builder (#933)
  src/config/nunjucks/context/build-navigation.test.js
  src/server/account/linking/view-data.test.js
  src/server/auth/callback/controller.test.js
  src/server/auth/helpers/drop-user-session.test.js
  src/server/auth/helpers/get-user-session.test.js
  src/server/auth/helpers/refresh-token.test.js
  src/server/auth/helpers/user-session.test.js
  src/server/auth/organisation/controller.test.js
  src/server/common/helpers/errors.test.js
  src/server/common/helpers/i18next.test.js
  src/server/common/test-helpers/request-fixtures.js
  src/server/logout/controller.test.js
  src/server/prns/view-data.test.js
Due: prettier --write, npm run lint:fix

hold @vitest/eslint-plugin at 1.6.20 (1.6.21 breaks valid-expect)
  package-lock.json
  package.json
Due: prettier --write

PAE-1371: render report data pages full width
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/detail-controller.test.js
  src/server/reports/detail.njk
  src/server/reports/submit-controller.test.js
  src/server/reports/submit.njk
  src/server/reports/view-controller.test.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

PAE-1371: Align report data values and use full-width layout (#926)
  src/server/reports/check-controller.test.js
  src/server/reports/check-your-answers.njk
  src/server/reports/detail-controller.test.js
  src/server/reports/detail.njk
  src/server/reports/submit-controller.test.js
  src/server/reports/submit.njk
  src/server/reports/view-controller.test.js
  src/server/reports/view.njk
Due: prettier --write, npm run lint:fix

standardise iso calendar-date truncation onto date helpers
  src/server/common/helpers/format-date.js
  src/server/common/helpers/format-date.test.js
  src/server/reports/helpers/format-submission-status.js
Due: prettier --write, npm run lint:fix

Show missing report numerics as zero not dash
  src/config/nunjucks/filters/format-tonnage.js
  src/config/nunjucks/filters/format-tonnage.test.js
  src/server/common/helpers/format-currency.js
  src/server/common/helpers/format-currency.test.js
  src/server/reports/check-controller.js
  src/server/reports/check-controller.test.js
  src/server/reports/helpers/build-report-view-data.js
  src/server/reports/helpers/build-report-view-data.test.js
  src/server/reports/helpers/dash-formatters.js
  src/server/reports/helpers/format-export-tonnages.js
  src/server/reports/helpers/format-or-dash.js
  src/server/reports/helpers/format-or-dash.test.js
  src/server/reports/submit-controller.test.js
Due: prettier --write, npm run lint:fix

Clarify formatter null handling in JSDoc
  src/config/nunjucks/filters/format-tonnage.js
  src/server/common/helpers/format-currency.js
Due: prettier --write, npm run lint:fix

Show missing report text as None provided
  src/server/reports/check-controller.js
  src/server/reports/check-controller.test.js
  src/server/reports/detail-controller.js
  src/server/reports/detail-controller.test.js
  src/server/reports/en.json
  src/server/reports/helpers/build-report-view-data.js
  src/server/reports/helpers/build-report-view-data.test.js
  src/server/reports/helpers/build-table-rows.js
  src/server/reports/helpers/build-table-rows.test.js
  src/server/reports/submit-controller.js
  src/server/reports/view-controller.js
Due: prettier --write, npm run lint:fix

tighten tsc: zero-cost strict flags + hard test-type gate
  .github/workflows/check-pull-request.yml
  jsconfig.typecheck.json
Due: prettier --write

Remove Overdue from resubmission due date column
  src/server/reports/helpers/format-submission-status.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

Collapse resubmission due-date cases to two
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

Drop now-unused fake clock from reports test
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

add base + strict typecheck configs and soft burndown job
  .github/workflows/check-pull-request.yml
  jsconfig.typecheck.base.json
  jsconfig.typecheck.json
  jsconfig.typecheck.strict.json
  jsconfig.typecheck.tests.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
