Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

PAE-1339: port summary generation to node script with tests
  .github/workflows/check-pull-request.yml
  eslint.config.js
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: prettier --write

PAE-1339: drop trailing colon from errors-by-file lines
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: prettier --write

adding a comment to see type-checking for test files
  src/config/nunjucks/context/build-navigation.test.js
  src/index.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: drop per-file warning glyph and let job go red when pr tests have errors
  .github/workflows/check-pull-request.yml
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: prettier --write

PAE-1339: move 'advisory - non-blocking' qualifier into the job name
  .github/workflows/check-pull-request.yml
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: prettier --write

PAE-1339: capitalise PR in summary copy
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: prettier --write

trim the job title
  .github/workflows/check-pull-request.yml
Due: none

revert "adding a comment to see type-checking for test files"
  src/config/nunjucks/context/build-navigation.test.js
  src/index.test.js
Due: prettier --write, npm run lint:fix

PAE-1339: use string describes in script tests
  scripts/lint-types-tests-summary.test.js
Due: prettier --write

PAE-1339: revert to function-ref describes in fe to satisfy vitest/prefer-describe-function-title
  scripts/lint-types-tests-summary.test.js
Due: prettier --write

PAE-1339: mark package private and drop scripts lint override
  eslint.config.js
  package.json
Due: prettier --write

PAE-1339: widen lint-staged globs to scripts/, drop unused n/no-unpublished-import disables
  .lintstagedrc.mjs
  .vite/fixtures/server.js
  scripts/i18next-export-plugin.mjs
  scripts/i18next-nunjucks-plugin.mjs
  src/server/common/helpers/waste-organisations/contract/get-organisations.contract.js
Due: prettier --write, npm run lint:fix

PAE-1339: port pr-comment, by-file map, base-ref fix from be
  .github/workflows/check-pull-request.yml
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: prettier --write

PAE-1325: colour-code reports status tags
  src/server/reports/helpers/get-status-tag-class.js
  src/server/reports/helpers/get-status-tag-class.test.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1325: fold get-status-tag-class into format-submission-status
  src/server/reports/helpers/format-submission-status.js
  src/server/reports/helpers/format-submission-status.test.js
  src/server/reports/helpers/get-status-tag-class.js
  src/server/reports/helpers/get-status-tag-class.test.js
  src/server/reports/list-controller.js
Due: prettier --write, npm run lint:fix

PAE-1325: add date-due column to reports listing
  src/server/reports/en.json
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1325: split submitted reports into separate section
  src/server/reports/en.json
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
  src/server/reports/list.njk
Due: prettier --write, npm run lint:fix

PAE-1325: distinct submitted-table columns (date+time, submitted-by)
  src/server/reports/en.json
  src/server/reports/helpers/fetch-reporting-periods.js
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
  src/server/reports/list.njk
Due: prettier --write, npm run lint:fix

PAE-1339: typecheck tests (advisory) (#815)
  .github/workflows/check-pull-request.yml
  .lintstagedrc.mjs
  .vite/fixtures/server.js
  jsconfig.typecheck.tests.json
  package.json
  scripts/i18next-export-plugin.mjs
  scripts/i18next-nunjucks-plugin.mjs
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
  src/server/common/helpers/waste-organisations/contract/get-organisations.contract.js
Due: prettier --write, npm run lint:fix

PAE-1325: simplify list-controller suffix derivation
  src/server/reports/list-controller.js
Due: prettier --write, npm run lint:fix

PAE-1325: simplify list view data and template
  src/server/reports/list-controller.js
  src/server/reports/list.njk
Due: prettier --write, npm run lint:fix

PAE-1325: group active/submitted view data and tighten JSDoc
  src/server/reports/list-controller.js
  src/server/reports/list.njk
Due: prettier --write, npm run lint:fix

PAE-1325: tighten list-controller types with shared typedefs
  src/server/reports/list-controller.js
Due: prettier --write, npm run lint:fix

PAE-1325: layout tweaks and complete test fixtures
  src/server/reports/list-controller.js
  src/server/reports/list-controller.test.js
  src/server/reports/list.njk
Due: prettier --write, npm run lint:fix

drop unused submission-number param
  src/server/reports/helpers/fetch-reporting-periods.js
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

plug a coverage hole
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1479: update PRN/PERN revenue label to clarify reporting intent
  src/server/reports/en.json
  src/server/reports/helpers/create-prn-summary-controllers.test.js
Due: prettier --write, npm run lint:fix

PAE-1479: Update PRN/PERN revenue label to clarify reporting intent (#817)
  src/server/reports/en.json
  src/server/reports/helpers/create-prn-summary-controllers.test.js
Due: prettier --write, npm run lint:fix

Redirect to confirmation when report already submitted
  src/server/reports/submit-controller.js
  src/server/reports/submit-controller.test.js
Due: prettier --write, npm run lint:fix

Fix type errors in submit-controller and shared test fixtures
  .vite/fixtures/server.js
  src/server/common/test-helpers/csrf-helper.js
  src/server/reports/helpers/fetch-report-detail.js
  src/server/reports/submit-controller.js
  src/server/reports/submit-controller.test.js
Due: prettier --write, npm run lint:fix

Fix type errors in shared test helpers and widen nullable export fields
  src/server/common/test-helpers/csrf-helper.js
Due: prettier --write, npm run lint:fix

Remove @type {any} casts from test fixtures
  src/server/reports/submit-controller.test.js
Due: prettier --write, npm run lint:fix

Extract typed mockAuth and buildRegistration test helpers
  src/server/common/test-helpers/mock-auth.js
  src/server/common/test-helpers/mock-registration.js
  src/server/reports/submit-controller.test.js
Due: prettier --write, npm run lint:fix

Inline typed test fixtures instead of separate helper files
  src/server/common/test-helpers/mock-auth.js
  src/server/common/test-helpers/mock-registration.js
  src/server/reports/submit-controller.test.js
Due: prettier --write, npm run lint:fix

fix type errors in test server
  .vite/fixtures/server.js
  fixtures/waste-organisations/organisations.json
  src/server/prns/post-controller.test.js
Due: prettier --write, npm run lint:fix

type mock-auth for server.inject in reports list-controller test
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

use cadence and submission-status constants in reports list test
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

annotate extractTagData body param in reports list test
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

cast registration fixtures in reports list test
  src/server/reports/list-controller.test.js
Due: prettier --write, npm run lint:fix

widen getCsrfToken options to accept inject options
  src/server/common/test-helpers/csrf-helper.js
Due: prettier --write, npm run lint:fix

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
