Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "src/**/*.js": ["npm run lint:fix"]
}

Revert "PAE-1041: Display PRN/PERN number on created confirmation page"
  src/server/lprns/created-controller.test.js
  src/server/lprns/created.njk
  src/server/lprns/view-controller.js
Due: prettier --write, npm run lint:fix

PAE-1041: Store issued prnNumber in session to mitigate MongoDB replication lag on issued confirmation page
  src/server/common/test-helpers/cookie-helper.js
  src/server/lprns/created-controller.test.js
  src/server/lprns/discard-controller.test.js
  src/server/lprns/issue-controller.js
  src/server/lprns/issue-controller.test.js
  src/server/lprns/issued-controller.js
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1003: Remove hardcoded status colour from list view and use correct colour for corresponding PRN status (#493)
  src/server/lprns/list-view-data.js
  src/server/lprns/list-view-data.test.js
Due: prettier --write, npm run lint:fix

add branch name to step name
  .github/workflows/check-pull-request.yml
Due: none

PAE-1041: Display PRN/PERN number consistently on issued page (#491)
  src/server/common/test-helpers/cookie-helper.js
  src/server/lprns/created-controller.test.js
  src/server/lprns/discard-controller.test.js
  src/server/lprns/issue-controller.js
  src/server/lprns/issue-controller.test.js
  src/server/lprns/issued-controller.js
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1049: Use getDisplayName for recipient to prefer tradingName over legal name
  src/server/lprns/action-controller.js
  src/server/lprns/action-controller.test.js
  src/server/lprns/issued-controller.js
  src/server/lprns/issued-controller.test.js
  src/server/lprns/list-controller.js
  src/server/lprns/list-controller.test.js
  src/server/lprns/view-controller.js
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

remove docker build step repeated in journey tests
  .github/workflows/check-pull-request.yml
Due: none

run journey tests in parallel with units
  .github/workflows/check-pull-request.yml
Due: none

run journey tests on matching named branch
  .github/workflows/check-pull-request.yml
Due: none

allow units to run in parallel
  vitest.config.js
Due: prettier --write

add a summary to github run
  .github/actions/test-and-scan/action.yml
  .github/workflows/check-pull-request.yml
  vitest.config.js
Due: prettier --write

add how-to instructions
  README.md
Due: prettier --write

run against journey-tests@main
  .github/workflows/check-pull-request.yml
Due: none

PAE-1053: run journey tests on a matching branch (#501)
  .github/actions/test-and-scan/action.yml
  .github/workflows/check-pull-request.yml
  README.md
  vitest.config.js
Due: prettier --write

PAE-1043: Use long-form heading text on PRN/PERN view and action screens
  src/server/common/helpers/prns/registration-helpers.js
  src/server/common/helpers/prns/registration-helpers.test.js
  src/server/lprns/action-controller.js
  src/server/lprns/action-controller.test.js
  src/server/lprns/view-controller.js
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1030: Display available waste balance on create PRN page
  src/server/lprns/controller.js
  src/server/lprns/controller.test.js
  src/server/lprns/create.njk
  src/server/lprns/en.json
  src/server/lprns/list-controller.js
  src/server/lprns/list-controller.test.js
  src/server/lprns/view-data.js
Due: prettier --write, npm run lint:fix

PAE-1049: Use getDisplayName for recipient to prefer tradingName over legal name (#500)
  src/server/lprns/action-controller.js
  src/server/lprns/action-controller.test.js
  src/server/lprns/issued-controller.js
  src/server/lprns/issued-controller.test.js
  src/server/lprns/list-controller.js
  src/server/lprns/list-controller.test.js
  src/server/lprns/view-controller.js
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1021: Show inline validation error when recipient not found in organisations list
  src/server/lprns/en.json
  src/server/lprns/post-controller.js
  src/server/lprns/post-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1035: Address sonar issues
  src/server/lprns/post-controller.js
Due: prettier --write, npm run lint:fix

PAE-1053: add links to slowest tests on this branch
  .github/actions/test-and-scan/action.yml
Due: none

remove branch name from summary
  .github/workflows/check-pull-request.yml
Due: none

Testing sync between journey test and epr-frontend repo
  src/server/lprns/action-controller.test.js
  src/server/lprns/en.json
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

Revert "Testing sync between journey test and epr-frontend repo"
  src/server/lprns/action-controller.test.js
  src/server/lprns/en.json
  src/server/lprns/view-controller.test.js
Due: prettier --write, npm run lint:fix

PAE-1035: Dummy commit to trigger build
  README.md
Due: prettier --write

PAE-1035: Revert dummy commit
  README.md
Due: prettier --write

PAE-1053: use journey tests on matching branch (redux) (#503)
  .github/actions/test-and-scan/action.yml
  .github/workflows/check-pull-request.yml
Due: none

PAE-1035: Post Day-1 PRN Improvements (#502)
  src/server/common/helpers/prns/registration-helpers.js
  src/server/common/helpers/prns/registration-helpers.test.js
  src/server/lprns/action-controller.js
  src/server/lprns/action-controller.test.js
  src/server/lprns/controller.js
  src/server/lprns/controller.test.js
  src/server/lprns/create.njk
  src/server/lprns/en.json
  src/server/lprns/list-controller.js
  src/server/lprns/list-controller.test.js
  src/server/lprns/post-controller.js
  src/server/lprns/post-controller.test.js
  src/server/lprns/view-controller.js
  src/server/lprns/view-controller.test.js
  src/server/lprns/view-data.js
Due: prettier --write, npm run lint:fix

PAE-1053: set single concurrency for pr checks (#509)
  .github/workflows/check-pull-request.yml
Due: none
