Repository DEFRA/epr-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

PAE-625: Fix summary log re-upload functionality and add client-side validation (#230)
  src/server/common/components/summary-log-upload/macro.njk
  src/server/summary-log-upload/index.njk
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/validation-failures.njk
Due: prettier --write, npm run lint:fix

add linking page and redirect
  src/server/account/index.js
  src/server/account/linking/controller.js
  src/server/account/linking/controller.test.js
  src/server/account/linking/cy.json
  src/server/account/linking/en.json
  src/server/account/linking/index.njk
  src/server/auth/callback/controller.js
  src/server/common/helpers/organisations/fetch-user-organisations.js
  src/server/me/organisations/controller.js
  src/server/me/organisations/controller.test.js
  src/server/me/organisations/index.js
  src/server/router.js
Due: prettier --write, npm run lint:fix

PAE-655 - retain-dynamic-i18n-keys-listed-in-en
  i18next.config.ts
  package-lock.json
  package.json
  scripts/i18next-dynamic-keys-plugin.mjs
  scripts/i18next-dynamic-keys-plugin.test.js
Due: prettier --write

PAE-590: Introduces PRODUCT_TONNAGE validation for REPROCESSOR_OUTPUT
  src/server/common/constants/validation-codes.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

PAE-664: Introduces protection against infinite polling following a summary log upload
  src/server/common/constants/statuses.js
  src/server/common/helpers/upload/fetch-summary-log-status.js
  src/server/common/helpers/upload/fetch-summary-log-status.test.js
  src/server/common/helpers/upload/initiate-summary-log-upload.js
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

add linking ui and controller
  src/server/account/cy.json
  src/server/account/en.json
  src/server/account/index.js
  src/server/account/linking/controller.js
  src/server/account/linking/cy.json
  src/server/account/linking/en.json
  src/server/account/linking/index.njk
  src/server/account/linking/post-controller.js
  src/server/account/linking/post-controller.test.js
  src/server/account/linking/view-data.js
  src/server/auth/callback/controller.js
  src/server/common/cy.json
  src/server/common/en.json
  src/server/common/helpers/organisations/fetch-user-organisations.js
Due: prettier --write, npm run lint:fix

test view data helper
  src/server/account/linking/controller.test.js
  src/server/account/linking/view-data.test.js
Due: prettier --write, npm run lint:fix

test linking redirect in auth/callback
  src/server/auth/callback/controller.test.js
Due: prettier --write, npm run lint:fix

test fetch user organisations
  src/server/common/helpers/organisations/fetch-user-organisations.test.js
Due: prettier --write, npm run lint:fix

PAE-590: Introduces PRODUCT_TONNAGE validation for REPROCESSOR_OUTPUT (#235)
  src/server/common/constants/validation-codes.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/en.json
Due: prettier --write, npm run lint:fix

PAE-592: Introduces additional code to support calculation validation failures
  src/server/common/constants/validation-codes.js
Due: prettier --write, npm run lint:fix

PAE-521 - import-updated-translations-from-excel
  .gitignore
  eslint.config.js
  package.json
  scripts/import-translations.js
  scripts/import-translations.test.js
Due: prettier --write

putting lint ignore for the file
  scripts/import-translations.js
Due: prettier --write

PR changes
  package.json
  scripts/i18next-dynamic-keys-plugin.test.js
Due: prettier --write

updating package lock
  package-lock.json
Due: prettier --write

PAE-655 - retain-dynamic-i18n-keys-listed-in-en (#234)
  i18next.config.ts
  package-lock.json
  package.json
  scripts/i18next-dynamic-keys-plugin.mjs
  scripts/i18next-dynamic-keys-plugin.test.js
Due: prettier --write

only redirect when user has unlinked organisation
  src/server/account/controller.test.js
  src/server/auth/callback/controller.js
  src/server/auth/callback/controller.test.js
Due: prettier --write, npm run lint:fix

throw an error if fetching organisations fails
  src/server/auth/callback/controller.js
  src/server/auth/callback/controller.test.js
  src/server/common/helpers/organisations/fetch-user-organisations.js
  src/server/common/helpers/organisations/fetch-user-organisations.test.js
Due: prettier --write, npm run lint:fix

use helper to simplify getting backend response
  src/server/auth/callback/controller.js
  src/server/auth/callback/controller.test.js
  src/server/common/helpers/organisations/fetch-user-organisations.js
  src/server/common/helpers/organisations/fetch-user-organisations.test.js
Due: prettier --write, npm run lint:fix

update the response shape
  src/server/account/linking/controller.js
  src/server/auth/callback/controller.js
  src/server/auth/callback/controller.test.js
Due: prettier --write, npm run lint:fix

use response to populate linking page
  src/server/account/linking/controller.test.js
  src/server/account/linking/index.njk
  src/server/account/linking/post-controller.test.js
  src/server/account/linking/view-data.js
  src/server/account/linking/view-data.test.js
  src/server/auth/callback/controller.js
  src/server/auth/types/organisations.js
  src/server/auth/types/session.js
Due: prettier --write, npm run lint:fix

sort orgs alphabetically as per design system guidance
  src/server/account/linking/index.njk
  src/server/account/linking/view-data.js
  src/server/account/linking/view-data.test.js
Due: prettier --write, npm run lint:fix

use org-id in place of companies house number
  src/server/account/linking/controller.test.js
  src/server/account/linking/post-controller.test.js
  src/server/account/linking/view-data.js
  src/server/account/linking/view-data.test.js
  src/server/auth/callback/controller.test.js
  src/server/auth/types/organisations.js
Due: prettier --write, npm run lint:fix

drop trading-name as we are not using it
  src/server/account/linking/controller.test.js
  src/server/account/linking/post-controller.test.js
  src/server/account/linking/view-data.test.js
  src/server/auth/callback/controller.test.js
  src/server/auth/types/organisations.js
Due: prettier --write, npm run lint:fix

PAE-592: Introduces additional code to support calculation validation failures (#240)
  src/server/common/constants/validation-codes.js
Due: prettier --write, npm run lint:fix

PAE-664: Fix linting
  scripts/i18next-dynamic-keys-plugin.test.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-664: Introduces protection against infinite polling following a summary log upload (#239)
  scripts/i18next-dynamic-keys-plugin.test.js
  src/server/common/constants/statuses.js
  src/server/common/helpers/upload/fetch-summary-log-status.js
  src/server/common/helpers/upload/fetch-summary-log-status.test.js
  src/server/common/helpers/upload/initiate-summary-log-upload.js
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

do not cache organisations in session
  src/server/account/linking/controller.js
  src/server/account/linking/controller.test.js
  src/server/account/linking/post-controller.js
  src/server/account/linking/post-controller.test.js
  src/server/account/linking/prerequisites/provide-user-organisations.js
  src/server/account/linking/prerequisites/provide-user-organisations.test.js
  src/server/account/linking/view-data.js
  src/server/account/linking/view-data.test.js
  src/server/auth/callback/controller.js
  src/server/auth/callback/controller.test.js
  src/server/auth/helpers/fetch-user-organisations.js
  src/server/auth/helpers/fetch-user-organisations.test.js
  src/server/auth/types/session.js
Due: prettier --write, npm run lint:fix

fix lint warning
  scripts/i18next-dynamic-keys-plugin.test.js
Due: prettier --write

have msw warn when handlers not present
  src/server/account/controller.test.js
  src/server/account/linking/controller.test.js
  src/server/auth/helpers/drop-user-session.test.js
  src/server/auth/helpers/session-cookie.test.js
  src/server/common/helpers/content-security-policy.test.js
  src/server/common/helpers/useragent-protection.test.js
  src/server/health/controller.test.js
  src/server/home/controller.test.js
  src/server/login/controller.test.js
  src/server/registration/controller.test.js
  src/server/summary-log-upload/controller.test.js
Due: prettier --write, npm run lint:fix

assert stdout logs from i18n scripts
  scripts/i18next-export-plugin.test.mjs
Due: none

call link endpoint from successful form submission
  src/server/account/linking/helpers/link-organisation.js
  src/server/account/linking/helpers/link-organisation.test.js
  src/server/account/linking/post-controller.js
  src/server/account/linking/post-controller.test.js
Due: prettier --write, npm run lint:fix

remove unused relationship-id from backend response
  src/server/account/linking/controller.test.js
  src/server/account/linking/prerequisites/provide-user-organisations.test.js
  src/server/account/linking/view-data.test.js
  src/server/auth/callback/controller.test.js
  src/server/auth/helpers/fetch-user-organisations.test.js
  src/server/auth/types/organisations.js
Due: prettier --write, npm run lint:fix

PAE-675: remove session info from ui
  src/server/account/controller.test.js
  src/server/account/index.njk
Due: prettier --write, npm run lint:fix

remove authed-user from nunjucks context
  src/config/nunjucks/context/context.js
  src/config/nunjucks/context/context.test.js
Due: prettier --write, npm run lint:fix

feat(summary-log): display superseded state when log replaced by newer upload
  src/server/common/constants/statuses.js
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
  src/server/summary-log/cy.json
  src/server/summary-log/en.json
  src/server/summary-log/superseded.njk
Due: prettier --write, npm run lint:fix

PAE-707: Fixes summary log validation state conflict issue
  src/server/summary-log/controller.js
  src/server/summary-log/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-675: remove session info from ui (#247)
  src/config/nunjucks/context/context.js
  src/config/nunjucks/context/context.test.js
  src/server/account/controller.test.js
  src/server/account/index.njk
Due: prettier --write, npm run lint:fix

PAE-502: add link to organisation (#245)
  .gitignore
  scripts/i18next-export-plugin.test.mjs
  src/server/account/controller.test.js
  src/server/account/cy.json
  src/server/account/en.json
  src/server/account/index.js
  src/server/account/linking/controller.js
  src/server/account/linking/controller.test.js
  src/server/account/linking/helpers/link-organisation.js
  src/server/account/linking/helpers/link-organisation.test.js
  src/server/account/linking/index.njk
  src/server/account/linking/post-controller.js
  src/server/account/linking/post-controller.test.js
  src/server/account/linking/prerequisites/provide-user-organisations.js
  src/server/account/linking/prerequisites/provide-user-organisations.test.js
  src/server/account/linking/view-data.js
  src/server/account/linking/view-data.test.js
  src/server/auth/callback/controller.js
  src/server/auth/callback/controller.test.js
  src/server/auth/helpers/drop-user-session.test.js
  src/server/auth/helpers/fetch-user-organisations.js
  src/server/auth/helpers/fetch-user-organisations.test.js
  src/server/auth/helpers/session-cookie.test.js
  src/server/auth/types/organisations.js
  src/server/auth/types/verify-token.js
  src/server/common/cy.json
  src/server/common/en.json
  src/server/common/helpers/content-security-policy.test.js
  src/server/common/helpers/useragent-protection.test.js
  src/server/health/controller.test.js
  src/server/home/controller.test.js
  src/server/login/controller.test.js
  src/server/registration/controller.test.js
  src/server/router.js
  src/server/summary-log-upload/controller.test.js
Due: prettier --write, npm run lint:fix

PAE-552: handle 409 conflict when upload blocked
  src/server/common/constants/status-codes.js
  src/server/summary-log-upload/controller.js
  src/server/summary-log-upload/controller.test.js
  src/server/summary-log-upload/cy.json
  src/server/summary-log-upload/en.json
Due: prettier --write, npm run lint:fix

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
